$general_bg: #031a16;
$general_fg: #81b5ac;
$modeline_in_bg: #0b342d;
$modeline_in_fg: #2b685e;
$modeline_ac_bg: #184e45;
$modeline_ac_fg: #5f9c92;
$cursor_bg: #3e9688;
$cursor_fg: #031a16;

.Ymacs-Theme-base16-apathy { --ymacs-cursor-bg: #3e9688; --ymacs-cursor-fg: #031a16; }
.Ymacs-Theme-base16-apathy { color: #81b5ac; background-color: #031a16; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont > .bar { background-color: #969896; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #cccccc; border-bottom: 1px solid #666666; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #cccccc; border-right: 1px solid #666666; }
.Ymacs-Theme-base16-apathy .Ymacs_Frame-active .Ymacs-current-line { background-color: #0b342d63 }
.Ymacs-Theme-base16-apathy .Ymacs-frame-content div.line:before { color: #2b685e; }
.Ymacs-Theme-base16-apathy .Ymacs_Frame-active div.line.Ymacs-current-line:before { }
.Ymacs-Theme-base16-apathy .Ymacs-frame-content:before { color: #2b685e; background-color: #0b342d; }
.Ymacs-Theme-base16-apathy {
.Ymacs_Popup {
  --ymacs-popup-bg: #0b342d;
  --ymacs-popup-fg: #81b5ac;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { color: #96883e; background-color: #184e45; }
}
.Ymacs_Overlay.selection div { background-color: #184e45; }
.Ymacs_Overlay.isearch div { background-color: #3e4c96; color: #0b342d; }
.Ymacs_Overlay.isearch-lazy div { background-color: #963e4c; color: #0b342d; }
.Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs_Modeline { color: #2b685e; background-color: #0b342d; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #5f9c92; background-color: #184e45; }
.minibuffer-prompt { color: #96883e; }
.mode-line-buffer-id { color: #883e96; }
.type { color: #3e4c96; }
.builtin { color: #963e4c; }
.function-name { color: #96883e; }
.variable-name { color: #3e9688; }
.constant { color: #3e7996; }
.string { color: #883e96; }
.string-starter { color: #883e96; }
.string-stopper { color: #883e96; }
.regexp { color: #883e96; }
.regexp-starter { color: #883e96; }
.regexp-stopper { color: #883e96; }
.regexp-modifier { color: #883e96; }
.keyword { color: #4c963e; }
.comment { color: #2b685e; }
.mcomment { color: #2b685e; }
.comment-starter { color: #2b685e; }
.mcomment-starter { color: #2b685e; }
.mcomment-stopper { color: #2b685e; }
.number { color: #3e7996; }
.operator { }
.error { color: #3e9688; }
.xml-open-tag { color: #96883e; }
.xml-close-tag { color: #96883e; }
.xml-attribute { color: #3e9688; }
.xml-entity-starter { color: #3e7996; }
.xml-entity-stopper { color: #3e7996; }
.xml-entity { color: #3e7996; }
.xml-open-bracket { }
.xml-close-bracket { }
.xml-closetag-slash { }
.xml-cdata { color: #2b685e; }
.xml-cdata-starter { color: #2b685e; }
.xml-cdata-stopper { color: #2b685e; }
.lisp-keyword { color: #963e4c; }
.markdown-heading1 { font-weight: bold; font-size: 1.692em; }
.markdown-heading2 { font-weight: bold; font-size: 1.442em; }
.markdown-heading3 { font-weight: bold; font-size: 1.192em; }
.markdown-heading4 { font-weight: bold; }
.markdown-heading5 { font-weight: bold; font-style: italic; }
.markdown-heading6 { font-weight: bold; }
.markdown-blockquote { color: #2b685e; }
.markdown-blockquote1 { color: #2b685e; }
.markdown-blockquote2 { color: #2b685e; }
.markdown-blockquote3 { color: #2b685e; }
}
