$general_bg: #fff8f0;
$general_fg: #222222;
$modeline_in_bg: #e7e0da;
$modeline_in_fg: #63728f;
$modeline_ac_bg: #f8cf8f;
$modeline_ac_fg: #111133;
$cursor_bg: #1144ff;
$cursor_fg: #fff8f0;

.Ymacs-Theme-ef-duo-light { --ymacs-cursor-bg: #1144ff; --ymacs-cursor-fg: #fff8f0; --ymacs-modeline-in-bg: #e7e0da; --ymacs-modeline-ac-bg: #f8cf8f; }
.Ymacs-Theme-ef-duo-light { color: #222222; background-color: #fff8f0; }
.Ymacs-Theme-ef-duo-light .Ymacs_SplitCont > .bar { background-color: #baafba; }
.Ymacs-Theme-ef-duo-light .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #f9f2ef; border-bottom: 1px solid #f9f2ef; }
.Ymacs-Theme-ef-duo-light .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #f9f2ef; border-right: 1px solid #f9f2ef; }
.Ymacs-Theme-ef-duo-light.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #f9e8c063 }
.Ymacs-Theme-ef-duo-light .Ymacs-frame-content div.line:before { color: #63728f; }
.Ymacs-Theme-ef-duo-light.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #4250ef; font-weight: bold; }
.Ymacs-Theme-ef-duo-light .Ymacs-frame-content:before { color: #63728f; background-color: #fff8f0; }
.Ymacs-Theme-ef-duo-light {
.Ymacs_Popup {
  --ymacs-popup-bg: #f6ece8;
  --ymacs-popup-fg: #222222;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #fadacf; font-weight: bold; }
}
.Ymacs_Overlay.selection div { background-color: #caeafa; }
.Ymacs_Overlay.isearch div { color: #222222; background-color: #fac200; }
.Ymacs_Overlay.isearch-lazy div { color: #222222; background-color: #cbcfff; }
.Ymacs_Overlay.match-paren div { color: #222222; background-color: #8adf80; }
.Ymacs_Modeline { color: #63728f; background-color: #e7e0da; border-top: 1px solid #baafba; border-bottom: 1px solid #baafba; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #111133; background-color: #f8cf8f; border-top: 1px solid #baafba; border-bottom: 1px solid #baafba; }
.minibuffer-prompt { color: #4250ef; }
.mode-line-buffer-id { font-weight: bold; }
.heading1 { color: #9f4a00; font-weight: bold; }
.heading2 { color: #4250ef; font-weight: bold; }
.heading3 { color: #8f5a3a; font-weight: bold; }
.heading4 { color: #6052cf; font-weight: bold; }
.markdown-blockquote { color: #406f90; }
.markdown-blockquote1 { color: #406f90; }
.markdown-blockquote2 { color: #406f90; }
.markdown-blockquote3 { color: #406f90; }
.markdown-pre { color: #cf25aa; }
.markdown-code { color: #1f77bb; }
.markdown-code-starter { color: #1f77bb; }
.markdown-code-stopper { color: #1f77bb; }
.markdown-ref { color: #1f6fbf; }
.directive { color: #3f70a0; }
.type { color: #065fff; }
.builtin { color: #1f77bb; }
.function-name { color: #1f6fbf; }
.variable-name { color: #6052cf; }
.constant { color: #375cd8; }
.string { color: #9f4a00; }
.string-starter { color: #9f4a00; }
.string-stopper { color: #9f4a00; }
.regexp { color: #9f4a00; }
.regexp-starter { color: #9f4a00; }
.regexp-stopper { color: #9f4a00; }
.regexp-modifier { color: #9f4a00; }
.keyword { color: #4250ef; }
.comment { color: #a2403f; }
.mcomment { color: #a2403f; }
.comment-starter { color: #a2403f; }
.mcomment-starter { color: #a2403f; }
.mcomment-stopper { color: #a2403f; }
.number { color: #222222; }
.operator { color: #222222; }
.error { color: #8a5d00; }
.isearch-fail { color: #cc3333; background-color: #ffdfe6; }
.xml-open-tag { color: #1f6fbf; }
.xml-close-tag { color: #1f6fbf; }
.xml-attribute { color: #6052cf; }
.xml-entity-starter { color: #63728f; }
.xml-entity-stopper { color: #63728f; }
.xml-entity { color: #63728f; }
.xml-open-bracket { color: #63728f; }
.xml-close-bracket { color: #63728f; }
.xml-closetag-slash { color: #63728f; }
.xml-cdata { color: #222222; }
.xml-cdata-starter { color: #cc3333; }
.xml-cdata-stopper { color: #cc3333; }
.block-starter, .block-stopper { color: #222222; }
.exp-starter, .exp-stopper { color: #222222; }
.lisp-keyword { color: #1f77bb; }
.hyperlink { color: #1f6fbf; }
}
