$general_bg: #fcf7ef;
$general_fg: #242521;
$modeline_in_bg: #e5e3d8;
$modeline_in_fg: #59786f;
$modeline_ac_bg: #c0df6f;
$modeline_ac_fg: #142010;
$cursor_bg: #007f00;
$cursor_fg: #fcf7ef;

.Ymacs-Theme-ef-cyprus { --ymacs-cursor-bg: #007f00; --ymacs-cursor-fg: #fcf7ef; --ymacs-modeline-in-bg: #e5e3d8; --ymacs-modeline-ac-bg: #c0df6f; }
.Ymacs-Theme-ef-cyprus { color: #242521; background-color: #fcf7ef; }
.Ymacs-Theme-ef-cyprus .Ymacs_SplitCont > .bar { background-color: #c4c0b6; }
.Ymacs-Theme-ef-cyprus .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #f8f3ea; border-bottom: 1px solid #f8f3ea; }
.Ymacs-Theme-ef-cyprus .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #f8f3ea; border-right: 1px solid #f8f3ea; }
.Ymacs-Theme-ef-cyprus.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #f0e0d463 }
.Ymacs-Theme-ef-cyprus .Ymacs-frame-content div.line:before { color: #59786f; }
.Ymacs-Theme-ef-cyprus.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #006f00; font-weight: bold; }
.Ymacs-Theme-ef-cyprus .Ymacs-frame-content:before { color: #59786f; background-color: #fcf7ef; }
.Ymacs-Theme-ef-cyprus {
.Ymacs_Popup {
  --ymacs-popup-bg: #f0ece0;
  --ymacs-popup-fg: #242521;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #e6e4bf; font-weight: bold; }
}
.Ymacs_Overlay.selection div { background-color: #e0e7e5; }
.Ymacs_Overlay.isearch div { color: #242521; background-color: #efbf00; }
.Ymacs_Overlay.isearch-lazy div { color: #242521; background-color: #cfceff; }
.Ymacs_Overlay.match-paren div { color: #242521; background-color: #96df80; }
.Ymacs_Modeline { color: #59786f; background-color: #e5e3d8; border-top: 1px solid #c4c0b6; border-bottom: 1px solid #c4c0b6; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #142010; background-color: #c0df6f; border-top: 1px solid #c4c0b6; border-bottom: 1px solid #c4c0b6; }
.minibuffer-prompt { color: #006f00; }
.mode-line-buffer-id { font-weight: bold; }
.heading1 { color: #557400; font-weight: bold; }
.heading2 { color: #bf4400; font-weight: bold; }
.heading3 { color: #3f6faf; font-weight: bold; }
.heading4 { color: #00824f; font-weight: bold; }
.markdown-blockquote { color: #4f677f; }
.markdown-blockquote1 { color: #4f677f; }
.markdown-blockquote2 { color: #4f677f; }
.markdown-blockquote3 { color: #4f677f; }
.markdown-pre { color: #bf456a; }
.markdown-code { color: #007a9f; }
.markdown-code-starter { color: #007a9f; }
.markdown-code-stopper { color: #007a9f; }
.markdown-ref { color: #a7601f; }
.directive { color: #9f0d0f; }
.type { color: #444fcf; }
.builtin { color: #557400; }
.function-name { color: #a7601f; }
.variable-name { color: #007a9f; }
.constant { color: #00824f; }
.string { color: #ca3400; }
.string-starter { color: #ca3400; }
.string-stopper { color: #ca3400; }
.regexp { color: #ca3400; }
.regexp-starter { color: #ca3400; }
.regexp-stopper { color: #ca3400; }
.regexp-modifier { color: #ca3400; }
.keyword { color: #006f00; }
.comment { color: #8f6f4a; }
.mcomment { color: #8f6f4a; }
.comment-starter { color: #8f6f4a; }
.mcomment-starter { color: #8f6f4a; }
.mcomment-stopper { color: #8f6f4a; }
.number { color: #242521; }
.operator { color: #242521; }
.error { color: #a7601f; }
.isearch-fail { color: #dd0020; background-color: #ffd4bf; }
.xml-open-tag { color: #a7601f; }
.xml-close-tag { color: #a7601f; }
.xml-attribute { color: #007a9f; }
.xml-entity-starter { color: #59786f; }
.xml-entity-stopper { color: #59786f; }
.xml-entity { color: #59786f; }
.xml-open-bracket { color: #59786f; }
.xml-close-bracket { color: #59786f; }
.xml-closetag-slash { color: #59786f; }
.xml-cdata { color: #242521; }
.xml-cdata-starter { color: #dd0020; }
.xml-cdata-stopper { color: #dd0020; }
.block-starter, .block-stopper { color: #242521; }
.exp-starter, .exp-stopper { color: #242521; }
.lisp-keyword { color: #557400; }
.hyperlink { color: #a7601f; }
}
