$general_bg: #f5f5ff;
$general_fg: #1a1a2f;
$modeline_in_bg: #d3d3e0;
$modeline_in_fg: #70627f;
$modeline_ac_bg: #99c7ff;
$modeline_ac_fg: #0a0a1f;
$cursor_bg: #0000bb;
$cursor_fg: #f5f5ff;

.Ymacs-Theme-ef-deuteranopia-light { --ymacs-cursor-bg: #0000bb; --ymacs-cursor-fg: #f5f5ff; }
.Ymacs-Theme-ef-deuteranopia-light { color: #1a1a2f; background-color: #f5f5ff; }
.Ymacs-Theme-ef-deuteranopia-light .Ymacs_SplitCont > .bar { background-color: #969896; }
.Ymacs-Theme-ef-deuteranopia-light .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #efeff5; border-bottom: 1px solid #efeff5; }
.Ymacs-Theme-ef-deuteranopia-light .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #efeff5; border-right: 1px solid #efeff5; }
.Ymacs-Theme-ef-deuteranopia-light.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #f3e0d563 }
.Ymacs-Theme-ef-deuteranopia-light .Ymacs-frame-content div.line:before { color: #70627f; }
.Ymacs-Theme-ef-deuteranopia-light.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #000000; font-weight: bold; }
.Ymacs-Theme-ef-deuteranopia-light .Ymacs-frame-content:before { color: #70627f; background-color: #f5f5ff; }
.Ymacs-Theme-ef-deuteranopia-light {
.Ymacs_Popup {
  --ymacs-popup-bg: #efeff5;
  --ymacs-popup-fg: #1a1a2f;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #f0dacf; }
}
.Ymacs_Overlay.selection div { background-color: #dadadf; }
.Ymacs_Overlay.isearch div { color: #000000; background-color: #fac200; }
.Ymacs_Overlay.isearch-lazy div { color: #000000; background-color: #cbcfff; }
.Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs_Modeline { color: #70627f; background-color: #d3d3e0; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #0a0a1f; background-color: #99c7ff; }
.minibuffer-prompt { color: #375cd8; }
.mode-line-buffer-id { font-weight: bold; }
.directive { color: #6052cf; }
.type { color: #805d00; }
.builtin { color: #1f6fbf; font-weight: bold; }
.function-name { color: #065fff; }
.variable-name { color: #1f77bb; }
.constant { color: #765040; }
.string { color: #965000; }
.string-starter { color: #965000; }
.string-stopper { color: #965000; }
.regexp { color: #965000; }
.regexp-starter { color: #965000; }
.regexp-stopper { color: #965000; }
.regexp-modifier { color: #965000; }
.keyword { color: #4250ef; font-weight: bold; }
.comment { color: #77604a; font-style: italic; }
.mcomment { color: #77604a; font-style: italic; }
.comment-starter { color: #77604a; font-style: italic; }
.mcomment-starter { color: #77604a; font-style: italic; }
.mcomment-stopper { color: #77604a; font-style: italic; }
.number { color: #765040; }
.operator { }
.error { color: #765040; }
.isearch-fail { color: #965000; background-color: #f0e0a0; font-weight: bold; }
.xml-open-tag { color: #065fff; }
.xml-close-tag { color: #065fff; }
.xml-attribute { color: #1f77bb; }
.xml-entity-starter { color: #765040; }
.xml-entity-stopper { color: #765040; }
.xml-entity { color: #765040; }
.xml-open-bracket { color: #1a1a2f; }
.xml-close-bracket { color: #1a1a2f; }
.xml-closetag-slash { color: #1a1a2f; }
.xml-cdata { color: #1a1a2f; font-style: italic; }
.xml-cdata-starter { color: #1a1a2f; font-style: italic; }
.xml-cdata-stopper { color: #1a1a2f; font-style: italic; }
.block-starter, .block-stopper { color: #6052cf; }
.exp-starter, .exp-stopper { color: #6052cf; }
.lisp-keyword { color: #1f6fbf; font-weight: bold; }
.heading1 { color: #805d00; font-weight: bold; }
.heading2 { color: #4250ef; font-weight: bold; }
.heading3 { color: #765040; font-weight: bold; }
.heading4 { color: #065fff; font-weight: bold; }
.markdown-blockquote { color: #77604a; font-style: italic; }
.markdown-blockquote1 { color: #77604a; font-style: italic; }
.markdown-blockquote2 { color: #77604a; font-style: italic; }
.markdown-blockquote3 { color: #77604a; font-style: italic; }
}
