$general_bg: #ffffff;
$general_fg: #4d4d4c;
$modeline_in_bg: #efefef;
$modeline_in_fg: #8e908c;
$modeline_ac_bg: #d6d6d6;
$modeline_ac_fg: #4d4d4c;
$cursor_bg: #c82829;
$cursor_fg: #ffffff;

.Ymacs-Theme-sanityinc-tomorrow-day { --ymacs-cursor-bg: #c82829; --ymacs-cursor-fg: #ffffff; }
.Ymacs-Theme-sanityinc-tomorrow-day { color: #4d4d4c; background-color: #ffffff; }
.Ymacs-Theme-sanityinc-tomorrow-day .Ymacs_SplitCont > .bar { background-color: #969896; }
.Ymacs-Theme-sanityinc-tomorrow-day .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6; }
.Ymacs-Theme-sanityinc-tomorrow-day .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; }
.Ymacs-Theme-sanityinc-tomorrow-day.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #efefef63 }
.Ymacs-Theme-sanityinc-tomorrow-day .Ymacs-frame-content div.line:before { color: #8e908c; }
.Ymacs-Theme-sanityinc-tomorrow-day.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #4d4d4c; font-weight: bold; }
.Ymacs-Theme-sanityinc-tomorrow-day .Ymacs-frame-content:before { color: #8e908c; background-color: #f7f7f7; }
.Ymacs-Theme-sanityinc-tomorrow-day {
.Ymacs_Popup {
  --ymacs-popup-bg: #d6d6d6;
  --ymacs-popup-fg: #4d4d4c;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #8e908c; }
}
.Ymacs_Overlay.selection div { background-color: #d6d6d6; }
.Ymacs_Overlay.isearch div { background-color: #eab700; color: #ffffff; }
.Ymacs_Overlay.isearch-lazy div { background-color: #3e999f; color: #ffffff; }
.Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs_Modeline { color: #8e908c; background-color: #efefef; border: 1px solid #d6d6d6; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #4d4d4c; background-color: #d6d6d6; border: 1px solid #d6d6d6; }
.minibuffer-prompt { color: #4271ae; }
.mode-line-buffer-id { color: #8959a8; }
.directive { color: #8959a8; }
.type { color: #4271ae; }
.builtin { color: #8959a8; }
.function-name { color: #f5871f; }
.variable-name { color: #eab700; }
.constant { color: #4271ae; }
.string { color: #3e999f; }
.string-starter { color: #3e999f; }
.string-stopper { color: #3e999f; }
.regexp { color: #3e999f; }
.regexp-starter { color: #3e999f; }
.regexp-stopper { color: #3e999f; }
.regexp-modifier { color: #3e999f; }
.keyword { color: #718c00; }
.comment { color: #8e908c; font-style: italic; }
.mcomment { color: #8e908c; font-style: italic; }
.comment-starter { color: #8e908c; font-style: italic; }
.mcomment-starter { color: #8e908c; font-style: italic; }
.mcomment-stopper { color: #8e908c; font-style: italic; }
.number { color: #4271ae; }
.operator { color: #f5871f; }
.error { color: #c82829; font-weight: bold; }
.isearch-fail { background-color: #c82829; color: #ffffff; font-weight: bold; }
.xml-open-tag { color: #f5871f; }
.xml-close-tag { color: #f5871f; }
.xml-attribute { color: #eab700; }
.xml-entity-starter { color: #4271ae; }
.xml-entity-stopper { color: #4271ae; }
.xml-entity { color: #4271ae; }
.xml-open-bracket { }
.xml-close-bracket { }
.xml-closetag-slash { }
.xml-cdata { color: #8e908c; font-style: italic; }
.xml-cdata-starter { color: #8e908c; font-style: italic; }
.xml-cdata-stopper { color: #8e908c; font-style: italic; }
.lisp-keyword { color: #8959a8; }
.heading1 { font-weight: bold; font-size: 1.383em; }
.heading2 { font-weight: bold; font-size: 1.192em; }
.heading3 { color: #f5871f; font-weight: bold; }
.heading4 { color: #8959a8; font-weight: bold; }
.markdown-blockquote { color: #8e908c; font-style: italic; }
.markdown-blockquote1 { color: #8e908c; font-style: italic; }
.markdown-blockquote2 { color: #8e908c; font-style: italic; }
.markdown-blockquote3 { color: #8e908c; font-style: italic; }
}
