$general_bg: #002451;
$general_fg: #ffffff;
$modeline_in_bg: #00346e;
$modeline_in_fg: #7285b7;
$modeline_ac_bg: #003f8e;
$modeline_ac_fg: #ffffff;
$cursor_bg: #ff9da4;
$cursor_fg: #002451;

.Ymacs-Theme-sanityinc-tomorrow-blue { --ymacs-cursor-bg: #ff9da4; --ymacs-cursor-fg: #002451; }
.Ymacs-Theme-sanityinc-tomorrow-blue { color: #ffffff; background-color: #002451; }
.Ymacs-Theme-sanityinc-tomorrow-blue .Ymacs_SplitCont > .bar { background-color: #969896; }
.Ymacs-Theme-sanityinc-tomorrow-blue .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #003f8e; border-bottom: 1px solid #003f8e; }
.Ymacs-Theme-sanityinc-tomorrow-blue .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #003f8e; border-right: 1px solid #003f8e; }
.Ymacs-Theme-sanityinc-tomorrow-blue.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #00346e63 }
.Ymacs-Theme-sanityinc-tomorrow-blue .Ymacs-frame-content div.line:before { color: #7285b7; }
.Ymacs-Theme-sanityinc-tomorrow-blue.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #ffffff; font-weight: bold; }
.Ymacs-Theme-sanityinc-tomorrow-blue .Ymacs-frame-content:before { color: #7285b7; background-color: #002c5f; }
.Ymacs-Theme-sanityinc-tomorrow-blue {
.Ymacs_Popup {
  --ymacs-popup-bg: #003f8e;
  --ymacs-popup-fg: #ffffff;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #7285b7; }
}
.Ymacs_Overlay.selection div { background-color: #003f8e; }
.Ymacs_Overlay.isearch div { background-color: #ffeead; color: #002451; }
.Ymacs_Overlay.isearch-lazy div { background-color: #99ffff; color: #002451; }
.Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs_Modeline { color: #7285b7; background-color: #00346e; border: 1px solid #003f8e; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #ffffff; background-color: #003f8e; border: 1px solid #003f8e; }
.minibuffer-prompt { color: #bbdaff; }
.mode-line-buffer-id { color: #ebbbff; }
.directive { color: #ebbbff; }
.type { color: #bbdaff; }
.builtin { color: #ebbbff; }
.function-name { color: #ffc58f; }
.variable-name { color: #ffeead; }
.constant { color: #bbdaff; }
.string { color: #99ffff; }
.string-starter { color: #99ffff; }
.string-stopper { color: #99ffff; }
.regexp { color: #99ffff; }
.regexp-starter { color: #99ffff; }
.regexp-stopper { color: #99ffff; }
.regexp-modifier { color: #99ffff; }
.keyword { color: #d1f1a9; }
.comment { color: #7285b7; }
.mcomment { color: #7285b7; }
.comment-starter { color: #7285b7; }
.mcomment-starter { color: #7285b7; }
.mcomment-stopper { color: #7285b7; }
.number { color: #bbdaff; }
.operator { color: #ffc58f; }
.error { color: #ff9da4; font-weight: bold; }
.isearch-fail { background-color: #ff9da4; color: #002451; font-weight: bold; }
.xml-open-tag { color: #ffc58f; }
.xml-close-tag { color: #ffc58f; }
.xml-attribute { color: #ffeead; }
.xml-entity-starter { color: #bbdaff; }
.xml-entity-stopper { color: #bbdaff; }
.xml-entity { color: #bbdaff; }
.xml-open-bracket { color: #ffffff; }
.xml-close-bracket { color: #ffffff; }
.xml-closetag-slash { color: #ffffff; }
.xml-cdata { color: #ffffff; }
.xml-cdata-starter { color: #ffffff; }
.xml-cdata-stopper { color: #ffffff; }
.block-starter, .block-stopper { color: #ebbbff; }
.exp-starter, .exp-stopper { color: #ebbbff; }
.lisp-keyword { color: #ebbbff; }
.heading1 { font-weight: bold; font-size: 1.414em; }
.heading2 { font-weight: bold; font-size: 1.180em; }
.heading3 { color: #ffc58f; font-weight: bold; }
.heading4 { color: #ebbbff; font-weight: bold; }
.markdown-blockquote { color: #7285b7; }
.markdown-blockquote1 { color: #7285b7; }
.markdown-blockquote2 { color: #7285b7; }
.markdown-blockquote3 { color: #7285b7; }
}
