$general_bg: #000000;
$general_fg: #eaeaea;
$modeline_in_bg: #2a2a2a;
$modeline_in_fg: #969896;
$modeline_ac_bg: #424242;
$modeline_ac_fg: #eaeaea;
$cursor_bg: #d54e53;
$cursor_fg: #000000;

.Ymacs-Theme-sanityinc-tomorrow-bright { --ymacs-cursor-bg: #d54e53; --ymacs-cursor-fg: #000000; --ymacs-modeline-in-bg: #2a2a2a; --ymacs-modeline-ac-bg: #424242; }
.Ymacs-Theme-sanityinc-tomorrow-bright { color: #eaeaea; background-color: #000000; }
.Ymacs-Theme-sanityinc-tomorrow-bright .Ymacs_SplitCont > .bar { background-color: #969896; }
.Ymacs-Theme-sanityinc-tomorrow-bright .Ymacs_SplitCont.horiz > .bar { border-top: 1px solid #424242; border-bottom: 1px solid #424242; }
.Ymacs-Theme-sanityinc-tomorrow-bright .Ymacs_SplitCont.vert > .bar { border-left: 1px solid #424242; border-right: 1px solid #424242; }
.Ymacs-Theme-sanityinc-tomorrow-bright.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret) { background-color: #2a2a2a63 }
.Ymacs-Theme-sanityinc-tomorrow-bright .Ymacs-frame-content div.line:before { color: #969896; }
.Ymacs-Theme-sanityinc-tomorrow-bright.Ymacs-hl-line .Ymacs_Frame-active div.line:has(.Ymacs-caret):before { color: #eaeaea; font-weight: bold; }
.Ymacs-Theme-sanityinc-tomorrow-bright .Ymacs-frame-content:before { color: #969896; background-color: #151515; }
.Ymacs-Theme-sanityinc-tomorrow-bright {
.Ymacs_Popup {
  --ymacs-popup-bg: #424242;
  --ymacs-popup-fg: #eaeaea;
  --ymacs-popup-scrollbar-thumb: var(--ymacs-popup-fg);
}
.Ymacs_Popup .Ymacs_Menu {
.Ymacs_Menu_Item:hover, .Ymacs_Menu_Item.selected, .Ymacs_Menu_Item.selected:hover { background-color: #969896; }
}
.Ymacs_Overlay.selection div { background-color: #424242; }
.Ymacs_Overlay.isearch div { background-color: #e7c547; color: #000000; }
.Ymacs_Overlay.isearch-lazy div { background-color: #70c0b1; color: #000000; }
.Ymacs_Overlay.match-paren div { color: #000000; background-color: #c397d8; }
.Ymacs_Modeline { color: #969896; background-color: #2a2a2a; border-top: 1px solid #424242; border-bottom: 1px solid #424242; }
.Ymacs_Frame-active .Ymacs_Modeline { color: #eaeaea; background-color: #424242; border-top: 1px solid #424242; border-bottom: 1px solid #424242; }
.minibuffer-prompt { color: #7aa6da; }
.mode-line-buffer-id { color: #c397d8; }
.heading1 { color: #7aa6da; }
.heading2 { color: #c397d8; }
.heading3 { color: #70c0b1; }
.heading4 { color: #e7c547; }
.markdown-blockquote { color: #c397d8; }
.markdown-blockquote1 { color: #c397d8; }
.markdown-blockquote2 { color: #c397d8; }
.markdown-blockquote3 { color: #c397d8; }
.markdown-pre { color: #969896; }
.markdown-code { color: #e7c547; }
.markdown-code-starter { color: #e7c547; }
.markdown-code-stopper { color: #e7c547; }
.markdown-ref { }
.directive { color: #c397d8; }
.type { color: #7aa6da; }
.builtin { color: #c397d8; }
.function-name { color: #e78c45; }
.variable-name { color: #e7c547; }
.constant { color: #7aa6da; }
.string { color: #70c0b1; }
.string-starter { color: #70c0b1; }
.string-stopper { color: #70c0b1; }
.regexp { color: #70c0b1; }
.regexp-starter { color: #70c0b1; }
.regexp-stopper { color: #70c0b1; }
.regexp-modifier { color: #70c0b1; }
.keyword { color: #b9ca4a; }
.comment { color: #969896; }
.mcomment { color: #969896; }
.comment-starter { color: #969896; }
.mcomment-starter { color: #969896; }
.mcomment-stopper { color: #969896; }
.number { color: #7aa6da; }
.operator { color: #e78c45; }
.error { color: #d54e53; font-weight: bold; }
.isearch-fail { background-color: #d54e53; color: #000000; font-weight: bold; }
.xml-open-tag { color: #e78c45; }
.xml-close-tag { color: #e78c45; }
.xml-attribute { color: #e7c547; }
.xml-entity-starter { color: #7aa6da; }
.xml-entity-stopper { color: #7aa6da; }
.xml-entity { color: #7aa6da; }
.xml-open-bracket { color: #eaeaea; }
.xml-close-bracket { color: #eaeaea; }
.xml-closetag-slash { color: #eaeaea; }
.xml-cdata { color: #eaeaea; }
.xml-cdata-starter { color: #eaeaea; }
.xml-cdata-stopper { color: #eaeaea; }
.block-starter, .block-stopper { color: #c397d8; }
.exp-starter, .exp-stopper { color: #c397d8; }
.lisp-keyword { color: #c397d8; }
.hyperlink { color: #7aa6da; }
}
