.Ymacs-Theme-base16-apathy { --ymacs-cursor-bg: #3e9688; --ymacs-cursor-fg: #031a16; }
.Ymacs-Theme-base16-apathy { color: #81b5ac; background-color: #031a16; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont .bar { background-color: #969896; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont.horiz .bar { border-top: 1px solid #cccccc; border-bottom: 1px solid #666666; }
.Ymacs-Theme-base16-apathy .Ymacs_SplitCont.vert .bar { border-left: 1px solid #cccccc; border-right: 1px solid #666666; }
.Ymacs-Theme-base16-apathy .Ymacs_Frame-active .Ymacs-current-line { background-color: #0b342d63 }
.Ymacs-Theme-base16-apathy .Ymacs-frame-content div.line:before {  color: #2b685e; }
.Ymacs-Theme-base16-apathy .Ymacs_Frame-active div.line.Ymacs-current-line:before {  }
.Ymacs-Theme-base16-apathy .Ymacs-frame-content:before {  color: #2b685e; background-color: #0b342d; }
.Ymacs-Theme-base16-apathy .Ymacs_Overlay.selection div { background-color: #184e45; }
.Ymacs-Theme-base16-apathy .Ymacs_Overlay.isearch div { color: #0b342d; background-color: #3e4c96; }
.Ymacs-Theme-base16-apathy .Ymacs_Overlay.isearch-lazy div { color: #0b342d; background-color: #963e4c; }
.Ymacs-Theme-base16-apathy .Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs-Theme-base16-apathy .Ymacs_Modeline { color: #2b685e; background-color: #0b342d; }
.Ymacs-Theme-base16-apathy .Ymacs_Frame-active .Ymacs_Modeline { color: #5f9c92; background-color: #184e45; }
.Ymacs-Theme-base16-apathy .minibuffer-prompt { color: #96883e; }
.Ymacs-Theme-base16-apathy .mode-line-buffer-id { color: #883e96; }
.Ymacs-Theme-base16-apathy .type { color: #3e4c96; }
.Ymacs-Theme-base16-apathy .builtin { color: #963e4c; }
.Ymacs-Theme-base16-apathy .function-name { color: #96883e; }
.Ymacs-Theme-base16-apathy .variable-name { color: #3e9688; }
.Ymacs-Theme-base16-apathy .constant { color: #3e7996; }
.Ymacs-Theme-base16-apathy .string { color: #883e96; }
.Ymacs-Theme-base16-apathy .string-starter { color: #883e96; }
.Ymacs-Theme-base16-apathy .string-stopper { color: #883e96; }
.Ymacs-Theme-base16-apathy .regexp { color: #883e96; }
.Ymacs-Theme-base16-apathy .regexp-starter { color: #883e96; }
.Ymacs-Theme-base16-apathy .regexp-stopper { color: #883e96; }
.Ymacs-Theme-base16-apathy .regexp-modifier { color: #883e96; }
.Ymacs-Theme-base16-apathy .keyword { color: #4c963e; }
.Ymacs-Theme-base16-apathy .comment { color: #2b685e; }
.Ymacs-Theme-base16-apathy .mcomment { color: #2b685e; }
.Ymacs-Theme-base16-apathy .comment-starter { color: #2b685e; }
.Ymacs-Theme-base16-apathy .mcomment-starter { color: #2b685e; }
.Ymacs-Theme-base16-apathy .mcomment-stopper { color: #2b685e; }
.Ymacs-Theme-base16-apathy .number { color: #3e7996; }
.Ymacs-Theme-base16-apathy .operator { }
.Ymacs-Theme-base16-apathy .error { color: #3e9688; }
.Ymacs-Theme-base16-apathy .xml-open-tag { color: #96883e; }
.Ymacs-Theme-base16-apathy .xml-close-tag { color: #96883e; }
.Ymacs-Theme-base16-apathy .xml-attribute { color: #3e9688; }
.Ymacs-Theme-base16-apathy .xml-entity-starter { color: #3e7996; }
.Ymacs-Theme-base16-apathy .xml-entity-stopper { color: #3e7996; }
.Ymacs-Theme-base16-apathy .xml-entity { color: #3e7996; }
.Ymacs-Theme-base16-apathy .xml-open-bracket { }
.Ymacs-Theme-base16-apathy .xml-close-bracket { }
.Ymacs-Theme-base16-apathy .xml-closetag-slash { }
.Ymacs-Theme-base16-apathy .xml-cdata { color: #2b685e; }
.Ymacs-Theme-base16-apathy .xml-cdata-starter { color: #2b685e; }
.Ymacs-Theme-base16-apathy .xml-cdata-stopper { color: #2b685e; }
.Ymacs-Theme-base16-apathy .lisp-keyword { color: #963e4c; }
.Ymacs-Theme-base16-apathy .markdown-heading1 { font-size: 1.692em; }
.Ymacs-Theme-base16-apathy .markdown-heading2 { font-size: 1.442em; }
.Ymacs-Theme-base16-apathy .markdown-heading3 { font-size: 1.192em; }
.Ymacs-Theme-base16-apathy .markdown-heading4 { font-weight: bold; }
.Ymacs-Theme-base16-apathy .markdown-heading5 { font-weight: bold; font-style: italic; }
.Ymacs-Theme-base16-apathy .markdown-heading6 { font-weight: bold; }
.Ymacs-Theme-base16-apathy .markdown-blockquote { color: #2b685e; }
.Ymacs-Theme-base16-apathy .markdown-blockquote1 { color: #2b685e; }
.Ymacs-Theme-base16-apathy .markdown-blockquote2 { color: #2b685e; }
.Ymacs-Theme-base16-apathy .markdown-blockquote3 { color: #2b685e; }
