.Ymacs-Theme-material-dark { --ymacs-cursor-bg: #ff9800; --ymacs-cursor-fg: #263238; }
.Ymacs-Theme-material-dark .Ymacs_Frame { color: #ffffff; background-color: #263238; }
.Ymacs-Theme-material-dark .Ymacs_Frame .Ymacs_Overlay.selection div { background-color: #555555; }
.Ymacs-Theme-material-dark .Ymacs_Frame .Ymacs_Overlay.isearch div { color: #ffffff; background-color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .Ymacs_Overlay.isearch-lazy div { color: #263238; background-color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .Ymacs_Overlay.match-paren div { color: #263238; background-color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .type { color: #84ffff; }
.Ymacs-Theme-material-dark .Ymacs_Frame .builtin { color: #ff8a65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .function-name { color: #84ffff; }
.Ymacs-Theme-material-dark .Ymacs_Frame .variable-name { color: #ffcc80; }
.Ymacs-Theme-material-dark .Ymacs_Frame .constant { color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .string { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .string-starter { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .string-stopper { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .regexp { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .regexp-starter { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .regexp-stopper { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .regexp-modifier { color: #9ccc65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .keyword { color: #fff59d; }
.Ymacs-Theme-material-dark .Ymacs_Frame .comment { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .mcomment { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .comment-starter { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .mcomment-starter { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .mcomment-stopper { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .number { color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .operator { }
.Ymacs-Theme-material-dark .Ymacs_Frame .error { color: #f36c60; font-weight: bold; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-open-tag { color: #84ffff; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-close-tag { color: #84ffff; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-attribute { color: #ffcc80; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-entity-starter { color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-entity-stopper { color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-entity { color: #8bc34a; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-open-bracket { }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-close-bracket { }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-closetag-slash { }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-cdata { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-cdata-starter { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .xml-cdata-stopper { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .lisp-keyword { color: #ff8a65; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading1 { font-size: 1.692em; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading2 { font-size: 1.442em; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading3 { font-size: 1.192em; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading4 { font-weight: bold; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading5 { font-weight: bold; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-heading6 { font-weight: bold; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-blockquote { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-blockquote1 { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-blockquote2 { color: #b0bec5; }
.Ymacs-Theme-material-dark .Ymacs_Frame .markdown-blockquote3 { color: #b0bec5; }
