.Ymacs-Theme-spacemacs-light { --ymacs-cursor-bg: #100a14; --ymacs-cursor-fg: #fbf8ef; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame { color: #655370; background-color: #fbf8ef; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .Ymacs_Overlay.selection div { background-color: #d3d3e7; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .Ymacs_Overlay.isearch div { color: #fbf8ef; background-color: #ba2f59; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .Ymacs_Overlay.isearch-lazy div { background-color: #dae6d0; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .Ymacs_Overlay.match-paren div { color: #000000; background-color: #32cd32; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .type { color: #ba2f59; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .builtin { color: #3a81c3; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .function-name { color: #6c3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .variable-name { color: #715ab1; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .constant { color: #4e3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .string { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .string-starter { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .string-stopper { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .regexp { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .regexp-starter { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .regexp-stopper { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .regexp-modifier { color: #2d9574; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .keyword { color: #3a81c3; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .comment { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .mcomment { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .comment-starter { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .mcomment-starter { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .mcomment-stopper { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .number { color: #4e3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .operator { }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .error { color: #dc752f; background-color: #fbf8ef; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-open-tag { color: #6c3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-close-tag { color: #6c3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-attribute { color: #715ab1; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-entity-starter { color: #4e3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-entity-stopper { color: #4e3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-entity { color: #4e3163; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-open-bracket { }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-close-bracket { }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-closetag-slash { }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-cdata { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-cdata-starter { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .xml-cdata-stopper { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .lisp-keyword { color: #3a81c3; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading1 { font-size: 1.383em; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading2 { font-size: 1.317em; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading3 { font-size: 1.317em; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading4 { font-size: 1.192em; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading5 { font-weight: bold; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-heading6 { font-weight: bold; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-blockquote { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-blockquote1 { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-blockquote2 { color: #2aa1ae; background-color: #ecf3ec; }
.Ymacs-Theme-spacemacs-light .Ymacs_Frame .markdown-blockquote3 { color: #2aa1ae; background-color: #ecf3ec; }
