@import url("ymacs-dark.css");
@import url("ymacs-light.css");

.Ymacs_Frame {
  white-space: pre;
  font-family: "Lucida Sans Typewriter",monospace;
  /* font-size: 14px; */
}

.Ymacs-caret {
  margin: 0;
  padding: 0;
}

.Ymacs_Frame-focus .Ymacs-caret {
  opacity: 1;
}

.Ymacs_Minibuffer .Ymacs-caret { background-color: inherit; color: inherit; }

/* .Ymacs_Frame-hasOverlays .Ymacs-current-line { */
/*   background: transparent !important; */
/* } */

.Ymacs-overwrite-mode .Ymacs-caret {
  -moz-border-radius: 15px;
}

.Ymacs_Overlay { position: absolute; right: 0; opacity: 0.5; }
.Ymacs_Overlay .match-paren { opacity: 0.4; }
.Ymacs_Overlay .selection { opacity: 0.7; }

.Ymacs_Message_Popup {
  background-color: wheat;
  padding: 10px;
}

.Ymacs_Modeline {
  font-family: "Lucida Sans Typewriter",monospace;
  white-space: pre;
  padding-bottom: 1px;
}

.Ymacs_Modeline:after {
  content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}

.Ymacs_Message_Popup {
  background-color: wheat;
  color: #000;
  padding: 10px;
}

.Ymacs_Completion_Popup .DlMenuItem .div2 { font-size: 100%; }

.Ymacs-line-numbers .Ymacs-frame-content { counter-reset: ymacs-line 0; }
.Ymacs-line-numbers .Ymacs-frame-content div.line { counter-increment: ymacs-line; }
.Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  color: #888;
  display: inline-block;
  width: 3em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  content: counter(ymacs-line, decimal);
  text-align: right;
}
