/* general stuff */

.Ymacs-Theme-light .Ymacs_Frame { color: #222; background-color: wheat;}

.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .type { color: #6b8e23; font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .builtin   { color: #9932cc; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .function-name   { color: #5f5fff;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .variable-name   { color: #ba8912;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .constant   { color: #53868b; font-style: normal;  }

.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .string { color: #8b6969; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .string-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .string-stopper { color: #6b4949; }

.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .regexp { color: #8b008b; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .regexp-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .regexp-stopper,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .regexp-modifier { color: #6b006b; font-weight: bold; }

.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .keyword   { color: #4020f0;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .comment,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .mcomment { color: #080; font-style: italic; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .comment-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .mcomment-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .mcomment-stopper { color: #333; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .number { color: #c00; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .operator { color: #000; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .error { color: #f00; background-color: #faa; font-weight: bold; }
/* .Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .trailing-whitespace { text-decoration: underline; color: #777; } */

/* XML mode */
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-open-tag,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-close-tag { color: #4020f0; font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-attribute { color: #6b8e23; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-entity-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-entity-stopper { color: #d4a; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-entity { color: #c4d; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-closetag-slash { color: #f51; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-open-bracket,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-close-bracket { color: #a56500; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-cdata { color: #555; }
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-cdata-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .Ymacs_Frame .xml-cdata-stopper { color: #888; }

/* other stuff */

.Ymacs-Theme-light .Ymacs-caret {
  background-color: #888;
  color: #222;
}

.Ymacs-Theme-light .Ymacs_Frame-focus .Ymacs-caret {
  background-color: #f51;
  color: #324;
}

.Ymacs-Theme-light .Ymacs_Frame-focus .Ymacs-current-line {
  background-color: #eda;
}

.Ymacs-Theme-light .Ymacs-overwrite-mode .Ymacs-caret {
  background-color: #97f;
  color: #fff;
}


.Ymacs-Theme-light .Ymacs_Overlay .match-paren { background: #080; }
.Ymacs-Theme-light .Ymacs_Overlay .selection { background: #88f; opacity: 0.8; }
.Ymacs-Theme-light .Ymacs_Overlay .isearch { background: #a22; }

.Ymacs-Theme-light .Ymacs_Modeline {
  background-color: #777;
  color: #111;
  border-top: 1px solid #999;
  border-bottom: 1px solid #000;
}

.Ymacs-Theme-light .Ymacs_Frame-active .Ymacs_Modeline {
  background-color: #bbb;
  color: #000;
  border-top: 1px solid #fff;
}

.Ymacs-Theme-light .Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  border-right: 1px dotted #888;
  color: #777;
  background-color: #eee;
}

.Ymacs-Theme-light .Ymacs-line-numbers .Ymacs-frame-content div.Ymacs-current-line:before {
  color: #000;
  background-color: #def;
}
