@import url("themes/emacs-charcoal-black.css");

.Ymacs-Theme-dark .Ymacs-caret {
  background-color: #aaa;
}

.Ymacs-Theme-dark .Ymacs_Frame-focus .Ymacs-caret {
  background-color: #f51;
  color: #324;
}

.Ymacs-Theme-dark .Ymacs_Frame-focus .Ymacs-current-line {
  background-color: #000;
}

.Ymacs-Theme-dark .Ymacs-overwrite-mode .Ymacs-caret {
  background-color: #97f;
  color: #fff;
}

.Ymacs-Theme-dark .Ymacs_Overlay .match-paren { background: #8f8; }
.Ymacs-Theme-dark .Ymacs_Overlay .selection { background: #ccf; }

.Ymacs-Theme-dark .Ymacs_Modeline {
  background-color: #cbe;
  color: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
}

.Ymacs-Theme-dark .Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  border-right: 1px dotted #888;
  background-color: #112;
}

.Ymacs-Theme-dark .Ymacs-line-numbers .Ymacs-frame-content div.Ymacs-current-line:before {
  background-color: #000;
  color: #f51;
}
