@import url("ymacs-syntax-dark.css");

@import url("themes/emacs-mishoo.css");
@import url("themes/emacs-billw.css");
@import url("themes/emacs-charcoal-black.css");
@import url("themes/emacs-clarity-and-beauty.css");
@import url("themes/emacs-classic.css");
@import url("themes/emacs-gnome2.css");
@import url("themes/emacs-calm-forest.css");
@import url("themes/emacs-linh-dang-dark.css");
@import url("themes/emacs-blue-mood.css");
@import url("themes/emacs-zenburn.css");
@import url("themes/emacs-standard-dark.css");

.Ymacs-Theme-dark .Ymacs-caret {
  background-color: #aaa;
  /* outline: 1px solid #f83; */
}

.Ymacs-Theme-dark .Ymacs_Frame-focus .Ymacs-caret {
  background-color: #f83;
  color: #324 !important;
  /* outline: none; */
}

.Ymacs-Theme-dark .Ymacs_Frame-focus .Ymacs-current-line {
  background-color: #000;
}

.Ymacs-Theme-dark .Ymacs-overwrite-mode .Ymacs-caret {
  background-color: #97f;
  color: #fff;
}

.Ymacs-Theme-dark .Ymacs_Overlay .match-paren { background: #8f8; }
.Ymacs-Theme-dark .Ymacs_Overlay .selection { background: #ccf; }
.Ymacs-Theme-dark .Ymacs_Overlay .isearch { background: #ffc; }

.Ymacs-Theme-dark .Ymacs_Modeline {
  background-color: #777;
  color: #111;
  border-top: 1px solid #999;
  border-bottom: 1px solid #000;
}

.Ymacs-Theme-dark .Ymacs_Frame-active .Ymacs_Modeline {
  background-color: #bbb;
  color: #000;
  border-top: 1px solid #fff;
}

.Ymacs-Theme-dark .Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  border-right: 1px dotted #888;
  background-color: #112;
}

.Ymacs-Theme-dark .Ymacs-line-numbers .Ymacs-frame-content div.Ymacs-current-line:before {
  background-color: #000;
  color: #f51;
}
