@import url("ymacs-syntax.css");

.Ymacs_Frame {
  background-color: #224;
  color: wheat;
  font-family: "Lucida Sans Typewriter",monospace;
  font-size: 14px;
  white-space: pre;
}

.Ymacs-caret {
  opacity: 0.5;
  background-color: #aaa;
  margin: 0;
  padding: 0;
}

.Ymacs_Frame-focus .Ymacs-caret {
  opacity: 1;
  background-color: #f51;
  color: #324;
}

.Ymacs_Frame-focus .Ymacs-current-line {
  background-color: #234353;
}

.Ymacs-overwrite-mode .Ymacs-caret {
  -moz-border-radius: 15px;
  background-color: #97f;
  color: #fff;
}

.Ymacs_Overlay { position: absolute; width: 100%; opacity: 0.5; }
.Ymacs_Overlay .match-paren { background: #8f8; opacity: 0.4; }
.Ymacs_Overlay .selection { background: #fff; opacity: 0.7; }

.Ymacs_Message_Popup {
  background-color: wheat;
  padding: 10px;
}

.Ymacs_Modeline {
  font-family: "Lucida Sans Typewriter",monospace;
  white-space: pre;
  line-height: 17px;
  background-color: #cbe;
  color: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
}
.Ymacs_Modeline:after {
  content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}
