@import url("ymacs-syntax-light.css");

@import url("themes/emacs-andreas.css");
@import url("themes/emacs-high-contrast.css");
@import url("themes/emacs-gtk-ide.css");
@import url("themes/emacs-standard-xemacs.css");
@import url("themes/emacs-bharadwaj.css");
@import url("themes/emacs-scintilla.css");
@import url("themes/emacs-vim-colors.css");
@import url("themes/emacs-standard.css");

.Ymacs-Theme-light .Ymacs-caret {
  background-color: #888;
}

.Ymacs-Theme-light .Ymacs_Frame-focus .Ymacs-caret {
  background-color: #f51;
  color: #324;
}

.Ymacs-Theme-light .Ymacs_Frame-focus .Ymacs-current-line {
  background-color: #fdb;
}

.Ymacs-Theme-light .Ymacs-overwrite-mode .Ymacs-caret {
  background-color: #97f;
  color: #fff;
}


.Ymacs-Theme-light .Ymacs_Overlay .match-paren { background: #080; }
.Ymacs-Theme-light .Ymacs_Overlay .selection { background: #88f; opacity: 0.8; }
.Ymacs-Theme-light .Ymacs_Overlay .isearch { background: #a22; }

.Ymacs-Theme-light .Ymacs_Modeline {
  background-color: #777;
  color: #111;
  border-top: 1px solid #999;
  border-bottom: 1px solid #000;
}

.Ymacs-Theme-light .Ymacs_Frame-active .Ymacs_Modeline {
  background-color: #bbb;
  color: #000;
  border-top: 1px solid #fff;
}

.Ymacs-Theme-light .Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  border-right: 1px dotted #888;
  background-color: #edc;
}

.Ymacs-Theme-light .Ymacs-line-numbers .Ymacs-frame-content div.Ymacs-current-line:before {
  background-color: #fdb;
  color: #000;
}
