.Ymacs_Buffer {
  background-color: #325;
  color: wheat;
  font-family: monospace;
  white-space: pre;
  line-height: 15px;
}

.Ymacs-caret {
  position: absolute;
  opacity: 0.5;
  background-color: #aaa;
}

.Ymacs_Buffer-focus .Ymacs-caret {
  opacity: 1;
  background-color: #f51;
  color: #324;
  margin: 0;
  border: 0;
}

.Ymacs_Buffer-focus .Ymacs-caret-blink {
  visibility: hidden;
}

.Ymacs-current-line {
  background-color: #231343;
}

.Ymacs-overwrite-mode .Ymacs-caret {
  -moz-border-radius: 15px;
  background-color: #97f;
  color: #fff;
}
