/* general stuff */

.Ymacs-Theme-light { color: #222; background-color: wheat;}

.Ymacs-Theme-light.Ymacs-Theme-y .type { color: #6b8e23; font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .builtin   { color: #9932cc; }
.Ymacs-Theme-light.Ymacs-Theme-y .function-name   { color: #5f5fff;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .variable-name   { color: #ba8912;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .constant   { color: #53868b; font-style: normal;  }

.Ymacs-Theme-light.Ymacs-Theme-y .string { color: #8b6969; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .string-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .string-stopper { color: #6b4949; }

.Ymacs-Theme-light.Ymacs-Theme-y .regexp { color: #8b008b; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .regexp-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .regexp-stopper,
.Ymacs-Theme-light.Ymacs-Theme-y .regexp-modifier { color: #6b006b; font-weight: bold; }

.Ymacs-Theme-light.Ymacs-Theme-y .keyword   { color: #4020f0;  font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .comment,
.Ymacs-Theme-light.Ymacs-Theme-y .mcomment { color: #080; font-style: italic; }
.Ymacs-Theme-light.Ymacs-Theme-y .comment-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .mcomment-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .mcomment-stopper { color: #333; }
.Ymacs-Theme-light.Ymacs-Theme-y .number { color: #c00; }
.Ymacs-Theme-light.Ymacs-Theme-y .operator { color: #000; }
.Ymacs-Theme-light.Ymacs-Theme-y .error { color: #f00; background-color: #faa; font-weight: bold; }
/* .Ymacs-Theme-light.Ymacs-Theme-y .trailing-whitespace { text-decoration: underline; color: #777; } */

/* XML mode */
.Ymacs-Theme-light.Ymacs-Theme-y .xml-open-tag,
.Ymacs-Theme-light.Ymacs-Theme-y .xml-close-tag { color: #4020f0; font-weight: bold; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-attribute { color: #6b8e23; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-entity-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .xml-entity-stopper { color: #d4a; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-entity { color: #c4d; font-style: normal;  }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-closetag-slash { color: #f51; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-open-bracket,
.Ymacs-Theme-light.Ymacs-Theme-y .xml-close-bracket { color: #a56500; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-cdata { color: #555; }
.Ymacs-Theme-light.Ymacs-Theme-y .xml-cdata-starter,
.Ymacs-Theme-light.Ymacs-Theme-y .xml-cdata-stopper { color: #888; }

/* other stuff */

.Ymacs-Theme-light {
  --ymacs-cursor-bg: #f51;
  --ymacs-cursor-fg: #000;
}

.Ymacs-Theme-light .Ymacs-overwrite-mode .Ymacs-caret {
  --ymacs-cursor-bg: #97f;
  --ymacs-cursor-fg: #fff;
}

.Ymacs-Theme-light .Ymacs_Frame:focus .Ymacs-current-line {
  /* background-color: #eda; */
}

.Ymacs-Theme-light .Ymacs_Overlay .match-paren { background: #28c; }
.Ymacs-Theme-light .Ymacs_Overlay .selection { background: #88f; opacity: 0.8; }
.Ymacs-Theme-light .Ymacs_Overlay .isearch { background: #2c2; }
.Ymacs-Theme-light .Ymacs_Overlay .isearch-lazy { background: #2c2; opacity: 0.6; }

.Ymacs-Theme-light .Ymacs_Modeline {
  background-color: #777;
  color: #111;
}

.Ymacs-Theme-light .Ymacs_Frame-active .Ymacs_Modeline {
  background-color: #bbb;
  color: #000;
}

.Ymacs.Ymacs-Theme-light.Ymacs-line-numbers .Ymacs-frame-content:before {
  border-right: 1px dotted #888;
  background-color: #eee;
}

.Ymacs.Ymacs-Theme-light.Ymacs-line-numbers .Ymacs_Frame-active .Ymacs-frame-content div.Ymacs-current-line:before {
  color: #000;
  background-color: #def;
}
