.Ymacs {
  --ymacs-cursor-bg: orange;
  --ymacs-cursor-fg: #000;
  --ymacs-popup-bg: #fea;
  --ymacs-popup-fg: #000;
  --ymacs-popup-scrollbar-thumb: #000;
  --ymacs-popup-scrollbar-track: transparent;
  --ymacs-popup-border: #000;
}

.Ymacs, .Ymacs * {
  box-sizing: border-box !important;
  user-select: none;
}

.Ymacs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Iosevka Custom", "Iosevka Web", "Iosevka", "Ubuntu Mono", "DejaVu Sans Mono", "Lucida Sans Typewriter", monospace;
}

.Ymacs_Frame {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  container-type: inline-size;
}

// disable current line bg when certain overlays are displayed
.Ymacs-hl-line {
  .Ymacs_Frame.Ymacs_Frame-hasOverlays {
    &[data-ymacs-overlays~="selection"],
    &[data-ymacs-overlays~="isearch"] {
      div.line:has(.Ymacs-caret) {
        background-color: inherit;
      }
    }
  }
}

.Ymacs-frame-overlays {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.Ymacs_Modeline {
  white-space: pre;
  padding-bottom: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.Ymacs-frame-content {
  white-space: pre;
  /* padding: 4px; */
  padding-bottom: 100cqh;
  z-index: 20;
  position: relative;
}

.Ymacs_Minibuffer {
  flex-grow: 0;
  flex-shrink: 0;
}

.Ymacs_Minibuffer .Ymacs_Modeline { display: none; }

.Ymacs_Overlay {
  > div {
    position: absolute;
    right: 0;
    left: 0;
  }
  &.isearch {
    > div {
      z-index: 1;
    }
  }
  &.match-paren {
    opacity: 0.6;
    > div {
      z-index: 30;
    }
  }
}

$lnwidth: 3.1em;

.Ymacs.Ymacs-line-numbers {
  .Ymacs-frame-content {
    counter-reset: ymacs-line 0;

    &:before {
      box-sizing: border-box;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: $lnwidth;
      z-index: -1;
      font-size: 80%;
    }

    > div.line {
      counter-increment: ymacs-line;

      &:before {
        box-sizing: border-box;
        display: inline-block;
        width: $lnwidth;
        margin-right: 7px;
        padding-right: 7px;
        content: counter(ymacs-line, decimal);
        text-align: right;
        position: relative;
        font-size: 80%;
      }
    }
  }
}

.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content {
  padding: 0;
}
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content:before,
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content div.line:before {
  content: none;
  display: none;
}

.Ymacs_Frame .minibuffer-prompt { font-weight: bold; text-decoration: underline; }

.Ymacs .Ymacs_SplitCont {
  display: grid;
  overflow: hidden;

  > .bar {
    position: relative;
    background-color: #888;
    z-index: 30;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0; top: 0;
      right: 0; bottom: 0;
    }
  }

  &.dragging > .bar {
    background-color: var(--ymacs-cursor-bg);
  }

  &.horiz {
    grid-template-rows: 1fr auto 1fr;
    cursor: ns-resize;
    > .bar {
      height: 3px;
      &:before {
        top: -5px;
        bottom: -5px;
      }
    }
  }
  &.vert {
    grid-template-columns: 1fr auto 1fr;
    cursor: ew-resize;
    > .bar {
      width: 3px;
      &:before {
        left: -5px;
        right: -5px;
      }
    }
  }
}

.Ymacs_Resize_horiz { cursor: ns-resize }
.Ymacs_Resize_vert { cursor: ew-resize }

.Ymacs_Frame:focus {
  outline: none;
}

.Ymacs-cursor-block {
  @keyframes ymacs-caret-block-blink {
    0% { background-color: unset; }
    50% { background-color: var(--ymacs-cursor-bg); color: var(--ymacs-cursor-fg); }
  }
  .Ymacs-overwrite-mode .Ymacs-caret {
    border-radius: 15px;
  }
  .Ymacs_Frame .Ymacs-caret {
    outline: 1px solid var(--ymacs-cursor-bg);
    outline-offset: -1px;
  }
  .Ymacs_Minibuffer .Ymacs-caret {
    background-color: inherit;
    color: inherit;
    outline: none;
  }
  .Ymacs_Frame:focus .Ymacs-caret {
    outline: none;
    animation-name: ymacs-caret-block-blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-fill-mode: backwards;
  }
}

.Ymacs-cursor-bar {
  --ymacs-cursor-bar: var(--ymacs-cursor-bg);
  @keyframes ymacs-caret-bar-blink {
    0% { --ymacs-cursor-bar: var(--ymacs-cursor-bg); }
    50% { --ymacs-cursor-bar: #0000; }
  }
  .Ymacs_Minibuffer .Ymacs-caret {
    box-shadow: none;
  }
  .Ymacs_Frame:focus .Ymacs-caret {
    box-shadow: -1px 0px 0px 0px var(--ymacs-cursor-bar),
                inset 1px 0px 0px 0px var(--ymacs-cursor-bar);
    animation-duration: 0.8s;
    animation-name: ymacs-caret-bar-blink;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-delay: 0.8s;
  }
}

.Ymacs_Popup {
  background-color: var(--ymacs-popup-bg);
  color: var(--ymacs-popup-fg);
  border: 1px solid var(--ymacs-popup-border);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scrollbar-color: var(--ymacs-popup-scrollbar-thumb) var(--ymacs-popup-scrollbar-track);

  &.with-arrow {
    &:before, &:after {
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after { border-width: 10px; }
    &:before { border-width: 11px; }

    &.ppos-top-right:before, &.ppos-top-left:before { border-top-color: var(--ymacs-popup-border) }
    &.ppos-bot-right:before, &.ppos-bot-left:before { border-bottom-color: var(--ymacs-popup-border) }
    &.ppos-top-right:after, &.ppos-top-left:after { border-top-color: var(--ymacs-popup-bg) }
    &.ppos-bot-right:after, &.ppos-bot-left:after { border-bottom-color: var(--ymacs-popup-bg) }

    &.ppos-top-right {
      margin-top: -12px;
      margin-left: -32px;
      &:before { top: 100%; left: 20px; }
      &:after { top: 100%; left: 21px; }
    }
    &.ppos-top-left {
      margin-top: -12px;
      margin-left: 32px;
      &:before { top: 100%; right: 20px; }
      &:after { top: 100%; right: 21px; }
    }
    &.ppos-bot-right {
      margin-top: 12px;
      margin-left: -32px;
      &:before { bottom: 100%; left: 20px; }
      &:after { bottom: 100%; left: 21px; }
    }
    &.ppos-bot-left {
      margin-top: 12px;
      margin-left: 32px;
      &:before { bottom: 100%; right: 20px; }
      &:after { bottom: 100%; right: 21px; }
    }
  }

  .Ymacs_Menu {
    padding: 1em 1.5em;
    scroll-padding: 1em 1.5em;
    max-height: 20em;
    overflow: auto;
    .Ymacs_Menu_Item {
      padding: 0 1.5em;
      margin: 0 -1.5em;

      &:hover,
      &.selected,
      &.selected:hover {
        // background-color: var(--ymacs-cursor-bg);
        // color: var(--ymacs-cursor-fg);
      }
    }
  }
}

.Ymacs-frame-content {
  .italic { font-style: italic; }
  .bold  { font-weight: bold; }
  .link { text-decoration: underline; }
  .trailing-whitespace { text-decoration: underline; }
}
