.Ymacs, .Ymacs * {
  box-sizing: border-box !important;
  user-select: none;
}

.Ymacs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Iosevka Custom", "DejaVu Sans Mono", "Lucida Sans Typewriter", "Ubuntu Mono", monospace;
  font-size: 16px;
}

.Ymacs_Frame {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Ymacs-frame-overlays {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.Ymacs_Modeline {
  white-space: pre;
  padding-bottom: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.Ymacs-frame-content {
  white-space: pre;
  /* padding: 4px; */
  padding-bottom: 1000px;
  z-index: 20;
  position: relative;
}

.Ymacs_Minibuffer {
  flex-grow: 0;
  flex-shrink: 0;
}

.Ymacs_Minibuffer .Ymacs_Modeline { display: none; }

.Ymacs_Overlay {
  > div {
    position: absolute;
    right: 0;
    left: 0;
  }
  &.isearch {
    > div {
      z-index: 10;
    }
  }
}

$lnwidth: 3.1em;

.Ymacs.Ymacs-line-numbers .Ymacs-frame-content:before {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $lnwidth;
  z-index: -1;
  font-size: 80%;
}
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content {
  counter-reset: ymacs-line 0;
}
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content div.line { counter-increment: ymacs-line; }
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  box-sizing: border-box;
  display: inline-block;
  width: $lnwidth;
  margin-right: 7px;
  padding-right: 7px;
  content: counter(ymacs-line, decimal);
  text-align: right;
  position: relative;
  font-size: 80%;
}

.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content {
  padding: 0;
}
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content:before,
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content div.line:before {
  content: none;
  display: none;
}

.Ymacs_Frame .minibuffer-prompt { font-weight: bold; text-decoration: underline; }

.Ymacs_SplitCont {
  display: grid;
  overflow: hidden;

  > .bar {
    position: relative;
    background-color: #888;
    z-index: 30;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0; top: 0;
      right: 0; bottom: 0;
    }
  }

  &.dragging > .bar {
    background-color: var(--ymacs-cursor-bg) !important;
  }

  &.horiz {
    grid-template-rows: 1fr auto 1fr;
    cursor: ns-resize;
    > .bar {
      height: 3px;
      &:before {
        top: -5px;
        bottom: -5px;
      }
    }
  }
  &.vert {
    grid-template-columns: 1fr auto 1fr;
    cursor: ew-resize;
    > .bar {
      width: 3px;
      &:before {
        left: -5px;
        right: -5px;
      }
    }
  }
}

.Ymacs_Resize_horiz { cursor: ns-resize !important }
.Ymacs_Resize_vert { cursor: ew-resize !important }

@property --ymacs-cursor-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: orange;
}
@property --ymacs-cursor-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

@keyframes ymacs-caret-blink {
  0% { background-color: unset; }
  50% { background-color: var(--ymacs-cursor-bg); color: var(--ymacs-cursor-fg); }
}

.Ymacs-overwrite-mode .Ymacs-caret {
  border-radius: 15px;
}

.Ymacs_Frame .Ymacs-caret {
  outline: 1px solid var(--ymacs-cursor-bg);
  outline-offset: -1px;
}

.Ymacs_Minibuffer .Ymacs-caret { background-color: inherit; color: inherit; outline: none; }

.Ymacs_Frame:focus {
  outline: none;
}
.Ymacs_Frame:focus .Ymacs-caret {
  outline: none;
  animation-name: ymacs-caret-blink;
  animation-duration: 0.8s;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-fill-mode: backwards;
}

.Ymacs_Popup {
  background-color: wheat;
  color: #000;
  border: 1px solid #000;
  padding: 1em 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 70%;
  z-index: 40;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scrollbar-color: var(--ymacs-cursor-bg) transparent;
}

.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item {
  padding: 0 1.5em;
  margin: 0 -1.5em;
}
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item:hover,
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item.selected,
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item.selected:hover {
  background-color: var(--ymacs-cursor-bg);
  color: var(--ymacs-cursor-fg);
}
