.Ymacs, .Ymacs * {
  box-sizing: border-box !important;
  user-select: none;
}

.Ymacs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Iosevka Custom", "DejaVu Sans Mono", "Lucida Sans Typewriter", "Ubuntu Mono", monospace;
  font-size: 16px;
}

.Ymacs_Frame {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Ymacs-frame-overlays {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.Ymacs_Modeline {
  white-space: pre;
  padding-bottom: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.Ymacs_Modeline:after {
  content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}

.Ymacs-frame-content {
  white-space: pre;
  /* padding: 4px; */
  padding-bottom: 1000px;
  z-index: 20;
  position: relative;
}

.Ymacs_Minibuffer {
  flex-grow: 0;
  flex-shrink: 0;
}

.Ymacs_Minibuffer .Ymacs_Modeline { display: none; }

/* .Ymacs_Frame-hasOverlays .Ymacs-current-line { */
/*   background: transparent !important; */
/* } */

.Ymacs_Overlay {}
.Ymacs_Overlay div {
  position: absolute;
  right: 0;
  left: 0;
}
.Ymacs_Overlay .isearch {
  z-index: 10;
}
.Ymacs_Overlay .isearch-lazy {}

$lnwidth: 3em;

.Ymacs.Ymacs-line-numbers .Ymacs-frame-content:before {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $lnwidth;
}
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content {
  counter-reset: ymacs-line 0;
  padding-left: $lnwidth;
}
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content div.line {
  counter-increment: ymacs-line;
  position: relative;
  padding-left: 5px;
}
.Ymacs.Ymacs-line-numbers .Ymacs-frame-content div.line:before {
  box-sizing: border-box;
  color: #888;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: end;
  position: absolute;
  left: -$lnwidth;
  top: 0;
  bottom: 0;
  width: calc($lnwidth - 1px);
  padding-right: 5px;
  content: counter(ymacs-line, decimal);
}

.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content {
  padding: 0;
}
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content:before,
.Ymacs .Ymacs_Frame.Ymacs_Minibuffer .Ymacs-frame-content div.line:before {
  content: none;
  display: none;
}

.Ymacs_Frame .minibuffer-prompt { font-weight: bold; text-decoration: underline; }

.Ymacs_SplitCont {
  display: flex;
  overflow: hidden;
  gap: 5px;
  background-color: #888;
}
.Ymacs_SplitCont.dragging {
  background-color: orange;
}
.Ymacs_SplitCont.horiz {
  flex-direction: column;
  cursor: ns-resize;
}
.Ymacs_SplitCont.horiz > div {
  height: 50%;
  width: 100%;
}
.Ymacs_SplitCont.vert {
  flex-direction: row;
  cursor: ew-resize;
}
.Ymacs_SplitCont.vert > div {
  width: 50%;
  height: 100%;
}
.Ymacs_Resize_horiz { cursor: ns-resize !important }
.Ymacs_Resize_vert { cursor: ew-resize !important }

@property --ymacs-cursor-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: orange;
}
@property --ymacs-cursor-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

@keyframes ymacs-caret-blink {
  0% { background-color: unset; }
  50% { background-color: var(--ymacs-cursor-bg); color: var(--ymacs-cursor-fg); }
}

.Ymacs-overwrite-mode .Ymacs-caret {
  border-radius: 15px;
}

.Ymacs_Frame .Ymacs-caret {
  outline: 1px solid var(--ymacs-cursor-bg);
  outline-offset: -1px;
}

.Ymacs_Minibuffer .Ymacs-caret { background-color: inherit; color: inherit; outline: none; }

.Ymacs_Frame:focus {
  outline: none;
}
.Ymacs_Frame:focus .Ymacs-caret {
  outline: none;
  animation-name: ymacs-caret-blink;
  animation-duration: 0.8s;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-fill-mode: backwards;
}

.Ymacs_Popup {
  background-color: wheat;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1em 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 70%;
  z-index: 40;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scrollbar-color: var(--ymacs-cursor-bg) transparent;
}

.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item {
  padding: 0 1.5em;
  margin: 0 -1.5em;
}
.Ymacs_Popup.Ymacs_Completions:hover .Ymacs_Menu_Item.selected {
  background-color: transparent;
  color: inherit;
}
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item:hover,
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item.selected,
.Ymacs_Popup.Ymacs_Completions .Ymacs_Menu_Item.selected:hover {
  background-color: var(--ymacs-cursor-bg);
  color: var(--ymacs-cursor-fg);
}
