

html, body { margin: 0; padding: 0; overflow: hidden; height: 100%; }

body { z-index: 0; background-color: #ffffff; }
form { padding: 0; margin: 0; }

.DYNARCH-GET-PADDING-AND-BORDER {
  overflow:    hidden  !important;
  font-size:   1px     !important;
  line-height: 1px     !important;
  width:       1px     !important;
  height:      1px     !important;
}

.DYNARCH-GET-ABSOLUTE-POSITION {
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
}

.DYNARCH-EVENT-STOPPER {
  position: absolute !important;



  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30000;
}

.DYNARCH-GARBAGE-COLLECTOR {
  position: absolute;
  z-index: -10000;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -32000px;
  top: -32000px;
  display: none;                
}

.DYNARCH-FAKE-FOCUS { z-index: -10000; position: absolute; left: -2000px; top: 0; }

.CURSOR-DRAGGING   { cursor: move !important; }
.CURSOR-RESIZE-E   { cursor: e-resize !important; }
.CURSOR-RESIZE-W   { cursor: w-resize !important; }
.CURSOR-RESIZE-S   { cursor: s-resize !important; }
.CURSOR-RESIZE-N   { cursor: n-resize !important; }
.CURSOR-FORBIDDEN  { cursor: not-allowed !important; }
.CURSOR-NO-DROP    { cursor: no-drop !important; }
.CURSOR-DROP       { cursor: pointer !important; }
.CURSOR-RESIZE-COL { cursor: col-resize !important; }



.DlWidget, .DlWidget table, .DlWidget input, .DlWidget select, .DlWidget button, .DlWidget textarea {

  font: 12px "Lucida Grande",Tahoma,"Lucida Sans","Trebuchet MS",Tahoma,Verdana,sans-serif;

}

.DlWidget {

  cursor: default;
  color: #000000;

  zoom: 1; 
}

.DlWidget-3D {
  background-color: #dec9e2;
  color: #000000;
}




.DlWidget-dragged-clone {
  position: absolute !important;
  z-index: 10000;
}



.DlAbstractButton { white-space: nowrap; }



.DlButton { border: 1px solid; border-color: #b59bbc #83688b #83688b #b59bbc; background-color: #dec9e2; text-align: center; }
.DlButton .DlButton-inner { border: 1px solid; border-color: #fbf2fb #c5accd #c5accd #fbf2fb; padding: 2px 4px; }

.DlButton .DlButton-inner div { min-height: 16px; } 

.DlButton-hover { border-color: #b59bbc #83688b #83688b #b59bbc; }
.DlButton-hover .DlButton-inner { border-color: #ffffff #cebcde #cebcde #ffffff; }
.DlButton-active { border-color: #83688b #b59bbc #b59bbc #83688b; background-color: #f4e2f5; }
.DlButton-active .DlButton-inner { padding: 3px 3px 1px 5px; border-color: #d6bcde #fbf2fb #fbf2fb #d6bcde; }
.DlButton-1 { border-color: #83688b #c5accd #c5accd #83688b; background-color: #f1e7f2; }
.DlButton-1 .DlButton-inner { border-color: #d6bcde #ffffff #ffffff #d6bcde; }
.DlButton-hover { background-color: #efdaf3; }

.DlAbstractButton-withIcon, .DlButton-withIcon {
  padding-left: 22px;
  background-repeat: no-repeat !important;
  background-position: 0 50%;
}

.DlButton-empty .DlButton-inner { padding: 2px; }
.DlButton-empty .DlButton-withIcon {
  padding: 0;
  width: 16px;
  height: 16px;
}

.DlButton-disabled .DlButton-inner,
.DlWidget-disabled .DlButton .DlButton-inner { border-color: #dec9e2; opacity: 0.6; filter: alpha(opacity=60); }
.DlButton-disabled, .DlWidget-disabled .DlButton { border-color: #ac97b0 #83688b #83688b #ac97b0; }

div.DlButton-Label { display: inline; }
.DlButton-focus { border-color: #72587b #41254a #41254a #72587b; }
.DlButton-focus div.DlButton-Label { display: block; border: 1px dotted black; margin: -1px -2px; padding: 0 1px; }



.DlWidget-disabled.DlCheckbox-0 { color: #827182; background-image: url("img/checkbox-0-disabled.png"); }
.DlWidget-disabled.DlCheckbox-1 { color: #827182; background-image: url("img/checkbox-1-disabled.png"); }

.DlCheckbox { padding: 2px 5px 2px 20px; -moz-border-radius: 3px; }
.DlCheckbox-0 { background: transparent url("img/checkbox-0.png") no-repeat 5px 50%; }
.DlCheckbox-1 { background: transparent url("img/checkbox-1.png") no-repeat 5px 50%; }
.DlCheckbox-hover { background-color: #f0dcf3; }
.DlCheckbox-active { background: #f4e2f5 url("img/checkbox-2.png") no-repeat 5px 50%; }
.DlCheckbox-empty { height: 15px; padding-left: 15px; width: 1px; }

.DlCheckbox-focus div.DlButton-Label { display: block; border: 1px dotted black; margin: -1px -2px; padding: 0 1px; }



.DlWidget-disabled.DlRadioButton-0 { color: #827182; background-image: url("img/radiobutton-0-disabled.png"); }
.DlWidget-disabled.DlRadioButton-1 { color: #827182; background-image: url("img/radiobutton-1-disabled.png"); }

.DlRadioButton { padding: 2px 5px 2px 20px; -moz-border-radius: 3px; }
.DlRadioButton-0 { background: transparent url("img/radiobutton-0.png") no-repeat 5px 50%; }
.DlRadioButton-1 { background: transparent url("img/radiobutton-1.png") no-repeat 5px 50%; }
.DlRadioButton-hover { background-color: #f0dcf3; }
.DlRadioButton-active { background: #f4e2f5 url("img/radiobutton-2.png") no-repeat 5px 50%; }
.DlRadioButton-empty { height: 15px; padding-left: 15px; width: 1px; }

.DlRadioButton-focus div.DlButton-Label { display: block; border: 1px dotted black; margin: -1px -2px; padding: 0 1px; }

.DlPopupMenu .DlRadioButton,
.DlPopupMenu .DlCheckbox { -moz-border-radius: 0; }



.DlEntry { border: 1px solid; border-color: #83688b #b59bbc #b59bbc #83688b; }
.DlEntry .DlEntry-cell { border: 1px solid; border-color: #fbf2fb #fbf2fb #fbf2fb #fbf2fb; background-color: #f8edf9; }
.DlEntry input, .DlEntry textarea {
  margin: 0;
  border: none !important;
  border-width: 0px !important;
  background: #f8edf9;
  color: #000000;
  padding: 1px 2px 2px 2px !important;

  resize: none;
}
.DlEntry-Focus { border-color: #83688b; outline: 1px solid #ac97b0; -moz-outline-radius: 2px; }
.DlEntry-Focus .DlEntry-cell, .DlEntry-Focus input, .DlEntry-Focus textarea { background-color: #ffffff; }
.DlEntry input:selection, .DlEntry textarea:selection { background-color: #a0bcdf; color: #000000; }
.DlEntry-ValidationError { border-color: #bf5340; }
.DlEntry-ValidationError .DlEntry-cell { border-color: #ffffff; background-color: #f2d9df; }
.DlEntry-ValidationError input, .DlEntry-ValidationError textarea { background-color: #f2d9df; }
.DlEntry-Readonly .DlEntry-cell { background-color: #efdaf3; border-bottom-color: #f7e6f6; border-right-color: #f7e6f6; }
.DlEntry-Readonly input, .DlEntry-Readonly textarea { background-color: #efdaf3; }
.DlEntry-emptyText { display: none; position: absolute; left: 3px; top: 1px; color: #a393a3; font-style: italic; cursor: text; }
.DlEntry-empty .DlEntry-emptyText { display: block; }

.DlEntry-dropDownBtn {
  line-height: 20px;
  border-left: 1px solid #a393a3;
  padding-left: 4px; padding-right: 4px;
}

.DlEntry-dropDownBtn-hover { background-color: #ffffff; }
.DlEntry-dropDownBtn-active { background-color: #956da7; }

.DlEntry-invalidIcon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1px;
  top: 50%;
  margin-top: -8px;
  background-image: url("img/entry-warning.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.6;
  display: none;
}

div.DlEntry-invalidIcon:hover { opacity: 1; }

.DlEntry-ValidationError .DlEntry-invalidIcon {
  display: block;
}



.DlCompletionEntry-busy input {
  background-image: url("img/busy1.gif");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.DlCompletionEntry-rightAligned input {
  background-position: 0 50%;
  text-align: right;
}



.DlComboBox-dropDownBtn {
  background: #dec9e2 url("img/arrows/dropdown.png") no-repeat 50% 50%;
  width: 11px;
  height: 20px;
  border-left: 1px solid #a393a3;
}

.DlEntry-Focus .DlComboBox-dropDownBtn { border-color: #83688b; }

.DlComboBox-dropDownBtn-hover { background-color: #ffffff; }
.DlComboBox-dropDownBtn-active { background-color: #956da7; }



.DlSpinner { background-color: yellow; width: 1em; }
.DlSpinner .DlSpinner-Button { height: 50%; }
.DlSpinner input { text-align: right; }
.DlSpinner .DlSpinner-Button .DlButton-inner { width: 5px; }
.DlSpinner .DlSpinner-Button .DlButton-inner div { min-height: 0; }
.DlSpinner .DlSpinner-Button-Up .DlButton-inner { height: 2px; background: url("img/spinner-up.gif") no-repeat 50% 50%; }
.DlSpinner .DlSpinner-Button-Down .DlButton-inner { height: 2px; background: url("img/spinner-down.gif") no-repeat 50% 50%; }



.DlProgressBar { position: relative; border: 1px solid #b59bbc; background: #f8edf9; }
.DlProgressBar-label { text-align: center; position: relative; padding: 2px 0; }
.DlProgressBar-fill { position: absolute; left: 0; top: 0; width: 50%; height: 100%; background-color: #e1c9ed; }



.DlButtonMenu .MenuArrow .DlButton-inner { padding-left: 0; padding-right: 0; }
.DlButtonMenu .MenuArrow-inner {
  padding: 0 1px;
  border-left: none;
  width: 7px; overflow: visible; background-image: url("img/menu/darrow-small.gif");
  background-repeat: no-repeat;
  background-position: 1px 50%;
}
.DlButtonMenu .LabelPart { border-right: none; }
.DlButtonMenu .LabelPart .DlButton-inner { border-right: none; }



.DlButtonColorPicker table { border-collapse: collapse; }
.DlButtonColorPicker .DlButton-inner .ColorPart { border: 1px solid; border-color: #83688b #fbf2fb #fbf2fb #83688b;
 width: 10px; height: 10px; overflow: hidden; min-height: 0; margin-top: 1px; }
.DlButtonColorPicker .Label { padding-left: 5px; }
.DlButtonColorPicker .EmptyLabel { width: 1px; overflow: hidden; height: 1em; }



.DlCalendar { background-color: #f8f0f8; }
.DlCalendar-disabled { background-color: #e8e1e8; }
table.DlCalendar {
  border-collapse: separate; border-spacing: 0; font-size: 11px; font-family: tahoma,verdana,sans-serif; border: 1px solid #83688b; }
.DlCalendar tr.DlCalendar-Navigation td { text-align: center; border-bottom: 1px solid #d5c5d5; background-color: #e8e1e8; padding: 2px 0; }
.DlCalendar tr.DlCalendar-Navigation td.PrevMonth,
.DlCalendar tr.DlCalendar-Navigation td.PrevYear { border-right: 1px solid #d5c5d5; font-weight: bold; }
.DlCalendar tr.DlCalendar-Navigation td.NextMonth,
.DlCalendar tr.DlCalendar-Navigation td.NextYear { border-left: 1px solid #d5c5d5; font-weight: bold; }

.DlCalendar tr.DlCalendar-Navigation td.NextMonth { background-image: url("img/arrows/nav-right.gif"); background-repeat: no-repeat; background-position: 50% 50%; }
.DlCalendar tr.DlCalendar-Navigation td.PrevMonth { background-image: url("img/arrows/nav-left.gif"); background-repeat: no-repeat; background-position: 50% 50%; }
.DlCalendar tr.DlCalendar-Navigation td.NextYear { background-image: url("img/arrows/nav-right-x2.gif"); background-repeat: no-repeat; background-position: 50% 50%; }
.DlCalendar tr.DlCalendar-Navigation td.PrevYear { background-image: url("img/arrows/nav-left-x2.gif"); background-repeat: no-repeat; background-position: 50% 50%; }

.DlCalendar tr.DlCalendar-DayNames td { width: 20px; text-align: right; padding-right: 3px; border-bottom: 1px solid #8b768f; background-color: #e8e1e8; }

.DlCalendar tr.Dates td { text-align: right; padding: 2px 3px 2px 2px; }
.DlCalendar tr.Dates td.OtherMonth { color: #ac97b0; }
.DlCalendar tr.Dates td.Today { color: #ad72d0; }
.DlCalendar td.WeekNumber { border-right: 1px solid #83688b; color: #827182; background-color: #e8e1e8; }
.DlCalendar tr.DlCalendar-DayNames td.WeekNumber { border-right-color: #83688b; }
.DlCalendar tr.DlCalendar-Navigation td.hover { background-color: #956da7; color: #ffffff; }
.DlCalendar tr.DlCalendar-Navigation td.rolling { background-color: #000000; }
.DlCalendar tr.DlCalendar-DayNames td.hover { background-color: #956da7; color: #ffffff; }
.DlCalendar tr.Dates td.hover { border: 1px solid #c5b4c4; padding: 1px 2px 1px 1px; background-color: #efdaf3 !important; }
.DlCalendar tr.Selected td { border-bottom: 1px solid #e6d5e6; border-top: 1px solid #e6d5e6; padding-top: 1px; padding-bottom: 1px; }
.DlCalendar tr.Dates td.Selected { border: 1px solid #a393a3; background-color: #ffffff; padding: 1px 2px 1px 1px; }

.DlCalendar tr.DlCalendar-DayNames td.WeekEnd { color: #a26e4c; }
.DlCalendar td.WeekEnd {  color: #a26e4c; }
.DlCalendar tr.Dates td.OtherMonth.WeekEnd {  color: #ccaa88; }

.DlCalendar tr.Dates td.DlCalendar-infoDay { font-weight: bold; background: url("img/tmpcal.gif") no-repeat 100% 100%; }



.DlResizeBar { font-size: 1px; line-height: 1px; }
.DlResizeBar-Horizontal {
  height: 5px; cursor: s-resize; background: url("img/resizebar-horiz2.png") no-repeat 50% 50%; }
.DlResizeBar-Vertical { width: 5px; cursor: e-resize; background: url("img/resizebar-vert2.png") no-repeat 50% 50%; }
.DlResizeBar-DraggingLine {
  position: absolute;

  background-color: #ac97b0; opacity: 0.6; filter: alpha(opacity=60);
  z-index: 10000;
}



.DlUploadEntry { height: 22px; }
.DlUploadEntry iframe { background: transparent; width: 80px; height: 22px; display: block; }



.DlContainer { position: relative; } 

.DlContainer-Hidden { position: absolute; left: -30000px; top: -30000px; visibility: hidden; }

.DlContainer-pad-sep-left { padding: 5px; border-left: 1px solid #c5accd; }
.DlContainer-pad-sep-right { padding: 5px; border-right: 1px solid #c5accd; }

.DlLayout { position: relative; }
.DlLayout-positioned { position: absolute; }

.DlGridLayout-table { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.DlGridLayout-tr-minHeight td { height: 2px; }
.DlGridLayout-td-minWidth { width: 2px; white-space: nowrap; }
.DlGridLayout-td-minHeight { height: 2px; }




.DlDesktop { position: absolute; left: 0; top: 0; overflow: hidden; }

.DlFieldset { border: 2px groove #f7e6f6; margin-top: 1em;
  -moz-border-top-colors: #a48aac #fbf2fb;
  -moz-border-bottom-colors: #fbf2fb #a48aac;
  -moz-border-left-colors: #a48aac #fbf2fb;
  -moz-border-right-colors: #fbf2fb #a48aac;
}
.DlFieldset-label { position: relative; top: -0.75em; left: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: bold;
  background-color: #dec9e2;
  padding: 1px 7px; border: 1px solid #b59bbc; }
.DlFieldset-content { padding: 10px 10px 10px 10px; margin-top: -1em; }

.DlPopup {
  position: absolute;
  z-index: 100;
  left: -30000px;
  top: -30000px;
}

.DlPopup-scrollArea {
  overflow: hidden;
  position: relative; 
  z-index: 10;
}

.DlPopup-scrollUp, .DlPopup-scrollDown {
  height: 10px; overflow: hidden;
  background-position: 50% 1px;
  background-repeat: no-repeat;
}

.DlPopup-scrollUp { border-bottom: 1px solid #cc9cd0; }
.DlPopup-scrollDown { border-top: 1px solid #cc9cd0; }

.DlPopup-scrollUp { background-image: url("img/arrows/scroll-up.gif"); }
.DlPopup-scrollUp-hover { background-image: url("img/arrows/scroll-up-hover.gif"); background-color: #ffffff; }
.DlPopup-scrollUp-disabled { background-image: url("img/arrows/scroll-up-disabled.gif"); }
.DlPopup-scrollDown { background-image: url("img/arrows/scroll-down.gif"); }
.DlPopup-scrollDown-hover { background-image: url("img/arrows/scroll-down-hover.gif"); background-color: #ffffff; }
.DlPopup-scrollDown-disabled { background-image: url("img/arrows/scroll-down-disabled.gif"); }

.DlCompletionPopup { border: 1px solid #cc9cd0; background-color: #f8f0f8; }
.DlCompletionPopup .DlMenuItem .div2 { font-size: 90%; padding: 1px 5px; }
.DlCompletionPopup .DlVMenu { border: none; }

.DlTooltip {
  background-color: #f7f7e8;
  font-family: arial,helvetica,sans-serif;
  padding: 4px 7px;
  color: #2a2a19;
}

.DlTooltip-noShadow { border: 1px solid #000000; }

.DlDialogPopup {
  background-color: #f8f0f8;
  border: 1px solid #946899;
}

.DlPopupMenu {
  background-color: #f8f0f8;
  border: 1px solid #eeeeee;
}
.DlPopupMenu-noShadow { border: 1px solid #946899; }

.DlPopupMenu .DlCalendar {
  border: 1px solid;
  border-color: #ffffff #ecd0ef #ecd0ef #ffffff;
}
.DlCalendar-borderless { border-width: 0 !important; }

.DlVMenu, .DlHMenu {
  border-collapse: collapse;
  background-color: #f8f0f8;
}

.DlVMenu-noShadow, .DlHMenu-noShadow {
  border: 1px solid;
  border-color: #ffffff #ecd0ef #ecd0ef #ffffff;
}

.DlVMenu { margin: 4px 0; }

.DlHMenu {
  margin: 0 2px;
}

.DlHMenu div.DlHMenu-separator {
  overflow: hidden;
  height: 16px;
  width: 1px;
  margin-left: 3px; margin-right: 2px;
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
}

div.DlVMenu-separator {
  margin: 4px 0 3px 0;
  background-color: #cccccc;
  border-bottom: 1px solid #ffffff;

  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 1px;
}

.DlMenuItem {  }
.DlMenuItem .div2 { padding: 2px 5px; }
.DlMenuItem-popped { background-color: #d6bcde; color: #000000; }
.DlMenuItem-hover { background-color: #956da7; color: #ffffff; }
.DlMenuItem-active { background-color: #000000; color: #ffffff; }
.DlMenuItem .DlMenuItem-withIcon {
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
}
.DlVMenu .DlMenuItem .DlMenuItem-withPopup {
  margin-right: 3px;
  padding-right: 12px;
  background-image: url("img/menu/rarrow.gif");
  background-repeat: no-repeat !important;
  background-position: 100% 50%;
}
.DlVMenu .DlMenuItem-hover .DlMenuItem-withPopup {
  background-image: url("img/menu/rarrow-hover.gif") !important;
}
.DlWidget-disabled .DlMenuItem, .DlMenuItem-disabled { opacity: 0.6; filter: alpha(opacity=60); }

.DlVMenu .DlCheckbox-hover,
.DlHMenu .DlCheckbox-hover,
.DlVMenu .DlRadioButton-hover,
.DlHMenu .DlRadioButton-hover { background-color: #956da7; color: #ffffff; }

.DlVMenu .DlCheckbox-active,
.DlHMenu .DlCheckbox-active,
.DlVMenu .DlRadioButton-active,
.DlHMenu .DlRadioButton-active { background-color: #000000; color: #ffffff; }









.DlTabs .TabBar { z-index: 10; position: relative; }
.DlTabs .TabBar .DlButton { border-color: #83688b; }
.DlTabs .TabBar .DlButton-1 { background-color: #e9d5ec; }
.DlTabs .TabBar .DlButton-1 .DlButton-inner { padding-top: 3px; padding-bottom: 3px; border-color: #d6bcde; }

.DocTabBar { width: 100%; }
.DocTabBar td { width: 33.3333%; }

.DlTabs-top .TabBar { top: 1px; }
.DlTabs-top .TabBar .DlButton-1, .DlTabs-top .TabBar .DlButton-1 .DlButton-inner { border-bottom: none; }

.DlTabs-bottom .TabBar { top: -1px; }
.DlTabs-bottom .TabBar .DlButton-1, .DlTabs-bottom .TabBar .DlButton-1 .DlButton-inner { border-top: none; }

.DlTabs .TabContent, .DlTabs .TabContent .DlNotebook { background-color: #e9d5ec; }
.DlTabs .TabContent { border: 1px solid #83688b; }
.DlTabs .TabContent .TabContent-inner { padding: 5px; }
.DlTabs .TabContent-inner { position: relative; overflow: hidden; border: 1px solid #d6bcde; }

.DlTabs-top .TabContent .TabContent-inner { border-top: none; }
.DlTabs-bottom .TabContent .TabContent-inner { border-bottom: none; }



.DlMacHBar, .DlMacVBar {
  background-color: #cdb8d1;
  border: 1px solid #b59bbc;
  padding: 2px;
}
.DlMacBarIcon { display: inline; }
.DlMacBarIcon img { vertical-align: middle; padding: 5px; }
.DlMacBarIcon-1 img { border: 1px solid #8b768f; -moz-border-radius: 15px; padding: 4px; background-color: #f7e6f6; }
.DlMacBarIcon-active { opacity: 0.6;  }
.DlMacHBar div.DlMacHBar-separator {
  overflow: hidden;
  height: 16px;
  width: 1px;
  border-left: 1px solid #b59bbc;
  background-color: #f7e6f6;
}

.DlMacVBar div.DlMacVBar-separator {
  overflow: hidden;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  border-top: 1px solid #b59bbc;
  background-color: #f7e6f6;
}



table.DlHbox { border-collapse: separate; }
.DlHbox td.cell { padding: 0; }
.DlHbox div.DlHbox-separator, div.Dl-Vertical-Separator {
  overflow: hidden;
  height: 16px;
  width: 1px;
  border-left: 1px solid #b59bbc;
  background-color: #f7e6f6;

}

.DlHbox div.wide-separator { margin-left: 4px; margin-right: 4px; }

.DlHbox div.DlHbox-spacer {
  overflow: hidden;
  width: 4px;
}

table.DlHbox-hasFiller { width: 100%; }
.DlHbox-filler { width: 100%; }



table.DlVbox { border-collapse: separate; }
.DlVbox td.cell { padding: 0; }
.DlVbox div.DlVbox-separator, div.Dl-Horizontal-Separator {
  overflow: hidden;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  border-top: 1px solid #b59bbc;
  background-color: #f7e6f6;

}

.DlVbox div.wide-separator { margin-top: 5px; margin-bottom: 4px; }

.DlVbox div.DlVbox-spacer {
  overflow: hidden;
  height: 4px;
  line-height: 1px;
  font-size: 1px;
}



table.DlButtonBox { width: 100%; }
table.DlButtonBox .DlButtonBox-spacer { width: 100%; }
.DlButtonBox div.DlButtonBox-separator {
  overflow: hidden;
  height: 16px;
  width: 1px;
  border-left: 1px solid #b59bbc;
  background-color: #f7e6f6;
  margin-left: 3px; margin-right: 2px;
}

.DlWidget-disabled div.DlVbox-separator, .DlWidget-disabled div.DlHbox-separator { border-color: #d5c5d5; background-color: #f7e6f6; }



.DlRadioSelect .LabelPart { text-align: left; }

.DlSelect-menu .DlRadioButton { padding-right: 18px; }
.DlSelect-menu .DlRadioButton-0 { background-image: none; }
.DlSelect-menu .DlRadioButton-1 { background-image: url("img/mark.gif"); background-color: #dec9e2; color: #000000; }
.DlSelect-menu .DlRadioButton-active { background-image: url("img/mark-2.gif"); }





.DlToolbar {
  border: 1px solid;
  border-color: #fbf2fb #8b768f #8b768f #fbf2fb;

  background-color: #dec9e2;
  padding: 1px;
}

.DlToolbar .DlButton { border: none; background-color: transparent; }
.DlToolbar .DlButton-inner { border: none; padding: 3px; }
.DlToolbar .DlButton-hover { border: 1px solid #d6bcde; border-color: #ffffff #a393a3 #a393a3 #ffffff; background-color: #f4e2f5; }
.DlToolbar .DlButton-hover .DlButton-inner { padding: 2px; }
.DlToolbar .DlButton-1 { border: 1px solid #d6bcde; border-color: #a393a3 #ffffff #ffffff #a393a3; background-color: #c7b8c9; }
.DlToolbar .DlButton-1 .DlButton-inner { padding: 2px; }
.DlToolbar .DlButton-active { border: 1px solid #83688b; background-color: #d7c8d8; }
.DlToolbar .DlButton-active .DlButton-inner { padding: 2px; }
.DlToolbar .DlButton-disabled { opacity: 0.7; filter: alpha(opacity=70); }

.DlToolbar .DlButtonMenu { background-color: #e9d5ec; }
.DlToolbar .DlButtonMenu * { border: none; }
.DlToolbar .DlButtonMenu .DlButton-inner { border: 1px solid #d6bcde; border-color: #ffffff #a393a3 #a393a3 #ffffff; padding: 2px; }
.DlToolbar .DlButtonMenu .MenuArrow .DlButton-inner { padding-left: 0; padding-right: 0; }
.DlToolbar .DlButtonMenu .DlButton-active .DlButton-inner { border-color: #a393a3 #ffffff #ffffff #a393a3; }
.DlToolbar .DlButtonMenu .DlButton-1 .DlButton-inner { border-color: #a393a3 #ffffff #ffffff #a393a3; }

.DlToolbar .DlButtonMenu .DlButton-hover .MenuArrow-inner { padding-left: 1px !important; padding-right: 1px !important; background-position: 1px 50%; }
.DlToolbar .DlButtonMenu .DlButton-active .MenuArrow-inner { padding-left: 1px !important; padding-right: 1px !important; background-position: 1px 50%; }
.DlToolbar .DlButtonMenu .DlButton-1 .MenuArrow-inner { padding-left: 1px !important; padding-right: 1px !important; background-position: 1px 50%; }
.DlToolbar .DlButtonMenu .MenuArrow .DlButton-inner { padding-left: 0 !important; padding-right: 0 !important; }

.DlToolbar .DlLabel { background: inherit; }

.DlToolbar div.DlHbox-separator {
  border-left-color: #a48aac;
  background-color: #ffffff;
}

.DlToolbar-Light { background: #efdaf3; }





.DlTable-RowSeparator td { height: 7px; }
.DlTable-RowSeparator td div { line-height: 1px; font-size: 1px; height: 1px; overflow: hidden;
  border-top: 1px solid #b59bbc;
  background-color: #f7e6f6;
  margin-top: 3px; margin-bottom: 2px;
}



.DlTree-separator {
  margin-top: 3px; margin-bottom: 4px;
  border-top: 1px dotted #b59bbc;
  line-height: 1px; font-size: 1px; overflow: hidden;
}
.DlTree-IconWidth { width: 19px !important; }
.DlTreeItem .DlTreeItem-Expander { width: 19px; }
.DlTreeItem .DlTreeItem-Icon {
  width: 19px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.DlTreeItem .DlTreeItem-Label { padding-left: 3px; padding-top: 1px; padding-bottom: 1px; }

.DlTreeItem-withRadio .DlTreeItem-Label { padding-left: 0; }
.DlTreeItem-withRadio .DlTreeItem-Table .DlLabel { padding: 0 2px; }
.DlTreeItem-withRadio .DlTreeItem-Table .DlRadioButton { padding: 0 2px; background-image: none !important; cursor: pointer; }
.DlTreeItem-withRadio .DlTreeItem-Table .DlRadioButton-hover { background: none; color: #ad6dc1; text-decoration: underline; }
.DlTreeItem-withRadio .DlTreeItem-Table .DlRadioButton-1 { background-color: #ad6dc1; color: #ffffff; }

.DlTreeItem-withCheck .DlTreeItem-Label { padding-left: 0; }
.DlTreeItem-withCheck .DlTreeItem-Table .DlLabel { padding: 0 2px; }
.DlTreeItem-withCheck .DlTreeItem-Table .DlCheckbox { padding: 0 2px; background-image: none !important; cursor: pointer; }
.DlTreeItem-withCheck .DlTreeItem-Table .DlCheckbox-hover { background: none; color: #ad6dc1; text-decoration: underline; }
.DlTreeItem-withCheck .DlTreeItem-Table .DlCheckbox-1 { background-color: #ad6dc1; color: #ffffff; }


.DlTreeItem-Table td { vertical-align: middle; height: 16px; }


.DlTree-withLines .DlTreeItem { background-image: url("img/tree/lines-v.gif"); background-repeat: repeat-y; background-position: 9px 50%; }


.DlTree-withLines .DlTreeItem-Last { background-image: none; }


.DlTree-withLines .DlTreeItem .DlTreeItem-Expander { background: transparent url("img/tree/lines-c.gif") no-repeat 50% 50%; }
.DlTreeItem-hasSubtree .DlTreeItem-Expander { background: transparent url("img/tree/lines-c.gif") no-repeat 50% 50%; }
.DlTree-withLines table.DlTreeItem-Last .DlTreeItem-Expander { background: transparent url("img/tree/lines-b.gif") no-repeat 50% 50%; }


.DlTreeItem-Subtree { padding-left: 19px; }
.DlTreeItem-Arrow-Expanded { background: transparent url("img/tree/minus.gif") no-repeat 50% 40%; width: 19px; height: 100%; }
.DlTreeItem-Arrow-Expanded:hover { background: transparent url("img/tree/minus-hover.gif") no-repeat 50% 40%; width: 19px; height: 100%; }
.DlTreeItem-Arrow-Collapsed { background: transparent url("img/tree/plus.gif") no-repeat 50% 40%; width: 19px; height: 100%; }
.DlTreeItem-Arrow-Collapsed:hover { background: transparent url("img/tree/plus-hover.gif") no-repeat 50% 40%; width: 19px; height: 100%; }

.DlWidget-disabled .DlTreeItem-Arrow-Expanded,
.DlWidget-disabled .DlTreeItem-Arrow-Collapsed,
.DlWidget-disabled .DlTreeItem-Icon { opacity: 0.6; filter: alpha(opacity=60); }

.DlTreeItem-dropTarget > .DlTreeItem-div .DlTreeItem-Expander div { background: url("img/tree-drop-here.gif") no-repeat 50% 50%; }
.DlTreeItem-dropTarget-upper > .DlTreeItem-div .DlTreeItem-Expander div { background: url("img/tree-drop-here-upper.gif") no-repeat 50% 50%; }
.DlTreeItem-dropTarget-lower > .DlTreeItem-div .DlTreeItem-Expander div { background: url("img/tree-drop-here-lower.gif") no-repeat 50% 50%; }
.DlTreeItem-dropTarget-upper > .DlTreeItem-div > table { border-top: 1px solid #956da7; }
.DlTreeItem-dropTarget-lower > .DlTreeItem-div > table { border-bottom: 1px solid #956da7; }

.DlTreeItem-div-focus { border: 1px dotted #000000; margin: -1px; }



.DlColorPickerHSV { border: 1px solid #000000; background-color: #e8e1e8; }
.DlColorPickerHSV td { width: 8px; height: 10px; padding: 1px; }
.DlColorPickerHSV td.DlColorPickerHSV-Sep { background-color: #000000; width: 1px; padding: 0; }
.DlColorPickerHSV td.DlColorPickerHSV-HSV {
  overflow: visible; vertical-align: top;
  background: url("img/color/hue.png") repeat-x 0 0; width: 15px; padding: 0; }
.DlColorPickerHSV td.hover1 { padding: 0; border: 1px solid #ffffff !important; }
.DlColorPickerHSV td.hover2 { padding: 0; border: 1px solid #000000 !important; }
.DlColorPickerHSV .DlColorPickerHSV-HSV-bar { height: 1px; left: 0px;
  font-size: 1px; line-height: 1px; left: -2px; margin-right: -3px;
  background-color: #000000; overflow: hidden; position: relative; }
.DlColorPickerHSV .DlColorPickerHSV-HSV-bar2 { background-color: #ffffff; }



.DlRteFrame { border: 1px solid; border-color: #a48aac; }

.DlRteFrame iframe { border: 1px solid; border-color: #e7cdee #ffffff #ffffff #e7cdee; }



.DlDataGrid { position: relative; background-color: #fbf4fb; border: 1px solid #83688b; }
.DlDataGrid-rowTable { table-layout: fixed; width: 10px; border-collapse: collapse; border-spacing: 0; }
.DlDataGrid-rowTable td { overflow: hidden; white-space: nowrap; border-right: 1px solid #e0e0e0; }
.DlDataGrid-Headers { overflow: hidden; background-color: #dec9e2; position: relative; width: 5px; }
.DlDataGrid-Body { overflow: auto; }
.DlDataGrid-cellData { overflow: hidden; white-space: nowrap; }
.DlDataGrid-Body td { padding: 2px 0; text-indent: 5px; }

.DlDataGrid-Body .DlDataGrid-rowTable {
  border-bottom: 1px solid #e0e0e0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.DlDataGrid-resizeHandle {
  width: 7px; position: absolute; top: 0;
  margin-left: -4px;
  cursor: e-resize;
  z-index: 30000;
  height: 100%;
  background-color: #bf4040; opacity: 0.01; filter: alpha(opacity=1);
}

.DlDataGrid-align-left { text-align: left; }
.DlDataGrid-align-center { text-align: center; }
.DlDataGrid-align-right { text-align: right; }

.DlDataGrid .DlDataGridRow-selected { background-color: #cccccc; }
.DlDataGrid .DlDataGridRow-selected table td { color: #000000; }
.DlDataGrid-focus { outline: 1px solid #ac97b0; -moz-outline-radius: 2px; }
.DlDataGrid-focus .DlDataGridRow-selected { background-color: #b78dcb; }
.DlDataGrid-focus .DlDataGridRow-selected table td { color: #ffffff; }

.DlDataGrid-align-right .DlButton-inner { background-position: 0 50%; }

.DlDataGridHeadLabel { border-width: 0 1px 1px 0; }
.DlDataGridHeadLabel .DlButton-inner { border: none; padding-top: 3px; padding-bottom: 3px; }
.DlDataGridHeadLabel-hover { background-color: #efdaf3; }
.DlDataGridHeadLabel-active .DlButton-inner { padding-top: 4px; padding-bottom: 2px; }
.DlDataGridHeadLabel-resizing { background-color: #e6daf3; }
.DlDataGridHeadLabel-empty .DlButton-inner { padding-left: 0; padding-right: 0; }
.DlDataGridHeadLabel-empty .DlButton-withIcon { background-position: 50% 50%; }

.DlDataGridHeadLabel-sort-up { border-bottom: 2px solid #000000; }
.DlDataGridHeadLabel-sort-down { border-bottom: 2px solid #000000; }

.DlDataGridHeadLabel-sort-up .DlButton-inner {
  background-image: url("img/arrows/sort-ascending.gif"); background-repeat: no-repeat; background-position: 100% 50%;
  padding-bottom: 2px;
}
.DlDataGridHeadLabel-sort-down .DlButton-inner {
  background-image: url("img/arrows/sort-descending.gif"); background-repeat: no-repeat; background-position: 100% 50%;
  padding-bottom: 2px;
}

.DlDataGridHeadLabel-sort-up.DlDataGridHeadLabel-active .DlButton-inner { padding-bottom: 1px; }
.DlDataGridHeadLabel-sort-down.DlDataGridHeadLabel-active .DlButton-inner { padding-bottom: 1px; }

.DlDataGrid-drop-col {
  position: absolute;
  background: url("img/grid-drop-col.gif") no-repeat 0 0;
  width: 11px; height: 11px;
  margin-left: -5px;
  z-index: 10000;
}



.DlIconListView { background-color: #e9d5ec; border: 1px solid #d6bcde; }
.DlIconListItem { border-collapse: collapse; }
.DlIconListItem-labelCell { text-align: center; }
.DlIconListItem-labelDiv { overflow: hidden; white-space: normal; font-size: 90%; }
.DlIconListItem-iconCell { background-position: 50% 50%; background-repeat: no-repeat; }


.DlIconListItem { cursor: pointer; float: left; }
.DlIconListItem-hover { background-color: #efdaf3; }
.DlIconListItem-hover .DlIconListItem-labelCell { color: #3d1e5a; text-decoration: underline; }
.DlIconListItem-1 { background-color: #bdb6bd; }
.DlDialog-Active .DlIconListItem-1 { background-color: #956da7; }
.DlDialog-Active .DlIconListItem-1 .DlIconListItem-labelCell { color: #ffffff; }

.DlIconListItem-focus .DlIconListItem-labelCell { text-decoration: underline; }



.DlWM {
  position: absolute;
  left: 0; top: 0;
  width: 0; height: 0;
  overflow: visible;
  z-index: 300;
}







.DlWM-modalStopper {
  z-index: 800; cursor: not-allowed;
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;

  filter: alpha(opacity=50);
  opacity: 0.5;
  background-color: #444444;
  display: none;
}

.DlDialog .DlWM-modalStopper {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.DlWM-hasModals { width: 100%; height: 100%; }
.DlWM-hasModals .DlWM-modalStopper { display: block; }

.DlDialog { position: absolute; }
.DlDialog-Rel { padding: 0; }
.DlDialog-Content { background-color: #e4c9e8; position: relative; }

.Shadow { position: absolute; font-size: 1px; line-height: 1px; }
.DlDialog-Rel .Shadow { z-index: 10; }

.DlDialog-WAIT { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;
  background-image: url("img/modalbg.gif"); }

.DlDialog-Rel .ResizeHandle {
  cursor: se-resize;
  position: absolute;

  left: 100%;
  top: 100%;
  margin-left: -11px;
  margin-top: -11px;
  padding: 5px;
  background: url("img/resize.gif") no-repeat 0 0; width: 10px; height: 10px; z-index: 350;
}




.DlDialog-Rel .Shadow-T { left: 18px; right: 15px; top: -14px; background: url("img/shadows/dlg-inactive/T.png") repeat-x 0 0; height: 14px; }
.DlDialog-Rel .Shadow-B { left: 18px; right: 15px; background: url("img/shadows/dlg-inactive/B.png") repeat-x 0 0; bottom: -16px; height: 16px; }
.DlDialog-Rel .Shadow-TL { left: -14px; width: 32px; top: -13px; background: url("img/shadows/dlg-inactive/TL.png") no-repeat 0 0; height: 23px; }
.DlDialog-Rel .Shadow-BR { width: 31px; right: -16px; background: url("img/shadows/dlg-inactive/BR.png") no-repeat 0 0; bottom: -15px; height: 21px; }
.DlDialog-Rel .Shadow-R { width: 16px; right: -16px; top: 10px; background: url("img/shadows/dlg-inactive/R.png") repeat-y 0 0; bottom: 6px; }
.DlDialog-Rel .Shadow-TR { width: 31px; right: -16px; top: -13px; background: url("img/shadows/dlg-inactive/TR.png") no-repeat 0 0; height: 23px; }
.DlDialog-Rel .Shadow-BL { left: -14px; width: 32px; background: url("img/shadows/dlg-inactive/BL.png") no-repeat 0 0; bottom: -15px; height: 21px; }
.DlDialog-Rel .Shadow-L { left: -14px; width: 14px; top: 10px; background: url("img/shadows/dlg-inactive/L.png") repeat-y 0 0; bottom: 6px; }

.DlDialog-Active .DlDialog-Rel .Shadow-T { left: 18px; right: 15px; top: -14px; background: url("img/shadows/dlg-active/T.png") repeat-x 0 0; height: 14px; }
.DlDialog-Active .DlDialog-Rel .Shadow-B { left: 18px; right: 15px; background: url("img/shadows/dlg-active/B.png") repeat-x 0 0; bottom: -16px; height: 16px; }
.DlDialog-Active .DlDialog-Rel .Shadow-TL { left: -14px; width: 32px; top: -13px; background: url("img/shadows/dlg-active/TL.png") no-repeat 0 0; height: 23px; }
.DlDialog-Active .DlDialog-Rel .Shadow-BR { width: 31px; right: -16px; background: url("img/shadows/dlg-active/BR.png") no-repeat 0 0; bottom: -15px; height: 21px; }
.DlDialog-Active .DlDialog-Rel .Shadow-R { width: 16px; right: -16px; top: 10px; background: url("img/shadows/dlg-active/R.png") repeat-y 0 0; bottom: 6px; }
.DlDialog-Active .DlDialog-Rel .Shadow-TR { width: 31px; right: -16px; top: -13px; background: url("img/shadows/dlg-active/TR.png") no-repeat 0 0; height: 23px; }
.DlDialog-Active .DlDialog-Rel .Shadow-BL { left: -14px; width: 32px; background: url("img/shadows/dlg-active/BL.png") no-repeat 0 0; bottom: -15px; height: 21px; }
.DlDialog-Active .DlDialog-Rel .Shadow-L { left: -14px; width: 14px; top: 10px; background: url("img/shadows/dlg-active/L.png") repeat-y 0 0; bottom: 6px; }


.DlDialog-noShadows { border: 2px solid #938292; }
.DlDialog-Active .DlDialog-noShadows { border-color: #000000; }



.DlDialog-Title {
  opacity: 0.9; filter: alpha(opacity=90);
  overflow: hidden; white-space: nowrap;
  font: bold 100% "Lucida Grande",verdana,tahoma,sans-serif; letter-spacing: -1px;
  background: #d4cdd5 url("img/titlebg.png") repeat-x 0 50%; color: #555555; padding: 0 10px;
  border-bottom: 2px solid #9e9e9e;
}
.DlDialog-Title div { padding-top: 3px; padding-bottom: 3px; }
.DlDialog-Active .DlDialog-Title { background-color: #8c5995; color: #ffffff; border-color: #ffffff;
  opacity: 1; filter: none;
  text-shadow: 1px 1px 3px #000000;
}

.DlDialog-Title-withIcon {
  padding-left: 21px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.DlDialog-WindowButtons {
  height: 0;
  overflow: visible;
  position: absolute;
  right: 11px;
  top: 0;
  z-index: 10;
  opacity: 0.6; 
}

.DlDialog-Active .DlDialog-WindowButtons { opacity: 1; filter: none; }

.DlDialog-WindowButtons div {
  float: right;
  width: 27px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: -1px;
  background-image: url("img/dialog/buttons.png");
}

.DlDialog-QuitBtn { background-position: 0 0; }
.DlDialog-QuitBtn-hover { background-position: -27px 0; }
.DlDialog-QuitBtn-active { background-position: -54px 0; }

.DlDialog-MaximizeBtn { background-position: 0 -16px; }
.DlDialog-MaximizeBtn-hover { background-position: -27px -16px; }
.DlDialog-MaximizeBtn-active { background-position: -54px -16px; }
.DlDialog-MaximizeBtn-1 { background-position: -54px -16px; }

.DlDialog-MinimizeBtn { background-position: 0 -32px; }
.DlDialog-MinimizeBtn-hover { background-position: -27px -32px; }
.DlDialog-MinimizeBtn-active { background-position: -54px -32px; }
.DlDialog-MinimizeBtn-1 { background-position: -54px -32px; }

.DlDialog-Dragging .DlDialog-Title { background-color: #000000; color: #5eb366; }
.DlDialog-Dragging .DlDialog-Rel { border-color: #000000; }




.DlDialog .DlHMenu {
  border: none;
  border-bottom: 1px solid #59435e;
}


.DlDialog .DlDialog .DlDialog-Rel {
  border-width: 2px; border-color: #000000;
  -moz-border-left-colors: #000000 #ffffff;
  -moz-border-top-colors: #000000 #ffffff;
  -moz-border-right-colors: #000000 #ffffff;
  -moz-border-bottom-colors: #000000 #ffffff;
}
.DlDialog .DlDialog .DlDialog-Rel .ResizeHandle { margin-left: -12px; margin-top: -12px; }
.DlDialog .DlDialog .DlDialog-WindowButtons { top: 1px; }
.DlDialog .DlDialog .DlDialog-Title {
  background-color: #ffffff; color: #000000; 
  border-bottom: 1px solid #938292;
}
.DlDialog .DlDialog .DlDialog-Title div { padding-top: 1px; padding-bottom: 1px; }
.DlDialog .DlDialog-Active .DlDialog-Title { background-color: #665f67; color: #ffffff; border-color: #59435e; }
.DlDialog .DlDialog-Dragging .DlDialog-Title { background-color: #000000; color: #5eb366; }


.DlDialog-Maximized>table>tbody>tr>td>.DlDialog-Rel>.Shadow { display: none; }
.DlDialog-Maximized>table>tbody>tr>td>.DlDialog-Rel>.ResizeHandle { display: none; }
.DlDialog-Maximized>table>tbody>tr>td>.DlDialog-Rel>.DlDialog-Title { border-width: 0; }


.IconCalendar { background-image: url("img/icons/calendar.png"); background-position: 1px 50%; }
.IconColors { background-image: url("img/icons/colors.png"); background-position: 1px 50%; }
.IconChardev { background-image: url("img/icons/gnome-fs-chardev.png"); background-position: 1px 50%; }
.IconDynarch { background-image: url("img/icons/dynarch-small.png"); background-position: 1px 50%; }








span.BreakPoint {
  width: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
}

.SmallerButtons .DlButton-inner { padding: 1px 3px; }
.SmallerButtons .DlButton-active .DlButton-inner { padding: 2px 2px 0px 4px; }

.Dl-StatusBar { border: 1px solid; border-color: #8b768f #fbf2fb #fbf2fb #8b768f; padding: 1px 4px; background-color: #dec9e2; }

.Dl-ResizeRect { z-index: 5000;
  font: 13px tahoma,"Trebuchet MS",Tahoma,Verdana,sans-serif;
  position: absolute; top: 0; left: 0; border: 1px dashed #000000;

  background: #ffffff; opacity: 0.4; filter: alpha(opacity=40);

  border: 1px dashed #bf4040;
}

.Dl-ResizeRect { color: red; }
.Dl-ResizeRect .Title { font-weight: bold; }

.Dl-ResizeRect-moving {
  border-color: #000000;

  
}

.DlAlign-left { text-align: left; }
.DlAlign-right { text-align: right; }
.DlAlign-center { text-align: center; }

.Dl-3D-Border-Outside { border: 1px solid; border-color: #ffffff #a48aac #a48aac #ffffff; }
.Dl-3D-Border-Inside { border: 1px solid; border-color: #a48aac #ffffff #ffffff #a48aac; }
.Dl-3D-Border-Dark { border: 1px solid #a48aac; }




.Gecko-Bug-226933 { position: relative; overflow: auto; }

.undefined { border: 5px solid red; } 



.ThinShadows .Shadow-T { left: 10px; right: 9px; top: -7px; background: url("img/thin-shadows/T.png") repeat-x 0 0; height: 7px; }
.ThinShadows .Shadow-B { left: 10px; right: 9px; background: url("img/thin-shadows/B.png") repeat-x 0 0; bottom: -11px; height: 11px; }
.ThinShadows .Shadow-TL { left: -7px; width: 17px; top: -7px; background: url("img/thin-shadows/TL.png") no-repeat 0 0; height: 20px; }
.ThinShadows .Shadow-BR { width: 20px; right: -11px; background: url("img/thin-shadows/BR.png") no-repeat 0 0; bottom: -11px; height: 20px; }
.ThinShadows .Shadow-R { width: 11px; right: -11px; top: 13px; background: url("img/thin-shadows/R.png") repeat-y 0 0; bottom: 9px; }
.ThinShadows .Shadow-TR { width: 20px; right: -11px; top: -7px; background: url("img/thin-shadows/TR.png") no-repeat 0 0; height: 20px; }
.ThinShadows .Shadow-BL { left: -7px; width: 17px; background: url("img/thin-shadows/BL.png") no-repeat 0 0; bottom: -11px; height: 20px; }
.ThinShadows .Shadow-L { left: -7px; width: 7px; top: 13px; background: url("img/thin-shadows/L.png") repeat-y 0 0; bottom: 9px; }

.ThinRoundShadows .Shadow-T { left: 8px; right: 6px; top: -6px; background: url("img/thin-shadows1/T.png") repeat-x 0 0; height: 6px; }
.ThinRoundShadows .Shadow-B { left: 8px; right: 6px; background: url("img/thin-shadows1/B.png") repeat-x 0 0; bottom: -10px; height: 10px; }
.ThinRoundShadows .Shadow-TL { left: -6px; width: 14px; top: -6px; background: url("img/thin-shadows1/TL.png") no-repeat 0 0; height: 15px; }
.ThinRoundShadows .Shadow-BR { width: 16px; right: -10px; background: url("img/thin-shadows1/BR.png") no-repeat 0 0; bottom: -10px; height: 16px; }
.ThinRoundShadows .Shadow-R { width: 10px; right: -10px; top: 9px; background: url("img/thin-shadows1/R.png") repeat-y 0 0; bottom: 6px; }
.ThinRoundShadows .Shadow-TR { width: 16px; right: -10px; top: -6px; background: url("img/thin-shadows1/TR.png") no-repeat 0 0; height: 15px; }
.ThinRoundShadows .Shadow-BL { left: -6px; width: 14px; background: url("img/thin-shadows1/BL.png") no-repeat 0 0; bottom: -10px; height: 16px; }
.ThinRoundShadows .Shadow-L { left: -6px; width: 6px; top: 9px; background: url("img/thin-shadows1/L.png") repeat-y 0 0; bottom: 6px; }
